<!--begin::Title-->
<h1 class="fw-bolder fs-2qx text-gray-900 mb-4">Coming Soon</h1>
<!--end::Title-->

<!--begin::Text-->
<div class="fw-semibold fs-6 text-gray-500 mb-7">Please try again later.</div>
<!--end::Text-->

<!--begin::Illustration-->
<div class="mb-11 text-center">
  <img src="./assets/media/transformers.gif" class="mw-100 mh-300px theme-light-show" alt="" />
  <img src="./assets/media/transformers.gif" class="mw-100 mh-300px theme-dark-show" alt="" />
</div>
<!--end::Illustration-->
