<!-- begin::Header -->
<div class="card">
  <div class="card-header d-block">
    <div class="input-group d-block">
      <label class="d-block mt-5">
        <input
          id="select-gosend"
          type="text"
          class="form-control"
          [(ngModel)]="searchGlobal"
          [ngbTypeahead]="searchDataPassenger"
          [placeholder]="'Search name, address, no resi' | translate"
        />
        <span hidden translate>Search name, address, no resi</span>
      </label>
    </div>
    <!-- <div class="mb-4 mt-4">
      <div class="d-flex justify-content-center">
        <label class="form-check form-check-sm form-check-custom form-check-solid me-5">
          <input class="form-check-input" type="radio" value="Driver" name="typeSearch" [(ngModel)]="typeSearch" />
          <span class="form-check-label text-gray-900">Driver</span>
        </label>
        <label class="form-check form-check-sm form-check-custom form-check-solid me-5">
          <input class="form-check-input" type="radio" value="Package" name="typeSearch" [(ngModel)]="typeSearch" />
          <span class="form-check-label text-gray-900">Package</span>
        </label>
        <label class="form-check form-check-sm form-check-custom form-check-solid me-5">
          <input class="form-check-input" type="radio" value="Passenger" name="typeSearch" [(ngModel)]="typeSearch" />
          <span class="form-check-label text-gray-900">Passenger</span>
        </label>
      </div>
    </div>
  </div> -->

    <div class="card-header border-0 pt-5 p-0">
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1">
          @if (currentTab === 'Malang') { Monitoring Passenger Malang } @else if (currentTab === 'Surabaya') {
          Monitoring Passenger Surabaya }
        </span>
        <span class="text-muted mt-1 fw-bold fs-7"> Have {{ dataLength | number }} items </span>
      </h3>
      @if (username === 'admin_11' && levelrule === 8) {
      <div class="card-toolbar">
        <ul class="nav nav-pills nav-pills-sm nav-dark-75">
          <li class="nav-item" (click)="setCurrentTab('Malang')" [style.cursor]="'pointer'">
            <a class="nav-link py-2 px-4" [class.active]="currentTab === 'Malang'" data-toggle="tab">Malang</a>
          </li>
          <li class="nav-item" (click)="setCurrentTab('Surabaya')" [style.cursor]="'pointer'">
            <a class="nav-link py-2 px-4" [class.active]="currentTab === 'Surabaya'" data-toggle="tab">Surabaya</a>
          </li>
        </ul>
      </div>
      }
    </div>
    <!-- end::Header -->

    <!-- begin::Body -->
    <div class="card-body py-3 p-0">
      <div class="tab-content mt-5" id="tabPackage">
        <!--begin::Tap pane-->
        <div class="tab-pane fade" role="tabpanel" [ngClass]="{ 'active show': currentTab === 'Malang' }">
          <!-- begin::Table container -->
          <div class="table-responsive">
            <!-- begin::Table -->
            <ngx-table
              #table
              [configuration]="configuration"
              [data]="data"
              [columns]="columns"
              [pagination]="pagination"
              (event)="eventEmitted($event)"
              tableClass="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3"
            >
              <ng-template let-row let-index="index">
                <!-- <td>
                    <span class="text-gray-900 d-block">{{ row.category_sub_id }}</span>
                  </td> -->
                <td
                  [ngClass]="{
                    'soft-orange-bg': row.status_passenger === 'Cancel',
                    'transparent-bg': row.status_passenger !== 'Cancel'
                  }"
                >
                  <span class="text-gray-900 d-block">
                    {{ row.resi_number }} <br />
                    <div class="d-flex mt-1">
                      <span class="badge badge-light-primary">{{ row.created_by }} </span> <br />
                      <span class="badge badge-light-success">{{ row.book_date | date : 'dd/MM/yyyy' : 'GMT' }} </span>
                    </div>
                  </span>
                </td>
                <td
                  [ngClass]="{
                    'soft-orange-bg': row.status_passenger === 'Cancel',
                    'transparent-bg': row.status_passenger !== 'Cancel'
                  }"
                >
                  <span class="text-gray-900 d-block">
                    @if (row.status === 'Biasa') {
                    <span class="badge">Biasa</span>
                    } @else if (row.status === 'Paket') {
                    <span class="badge badge-light-primary">Paket</span>
                    } @else {
                    <span class="badge badge-light-danger">Executif</span>
                    }
                    <br />
                    <span class="text-gray-900 d-block">{{ row.tariff | currency : 'Rp ' : true : '1.0-2' }}</span>
                  </span>
                </td>
                <td
                  [ngClass]="{
                    'soft-orange-bg': row.status_passenger === 'Cancel',
                    'transparent-bg': row.status_passenger !== 'Cancel'
                  }"
                >
                  @for (value of row.waybills; track value) {
                  <span class="text-gray-900 d-block">
                    <ul>
                      <li>
                        {{ value?.name }} <br />
                        {{ value?.address }} <br />
                        {{ value?.telp }}
                      </li>
                    </ul>
                  </span>
                  }
                </td>
                <td
                  [ngClass]="{
                    'soft-orange-bg': row.status_passenger === 'Cancel',
                    'transparent-bg': row.status_passenger !== 'Cancel'
                  }"
                >
                  @for (value of row.destinations; track value) {
                  <span class="text-gray-900 d-block">
                    <ul>
                      <li>
                        {{ value?.name }} <br />
                        {{ value?.address }} <br />
                        {{ value?.telp }}
                      </li>
                    </ul>
                  </span>
                  }
                </td>
                <td
                  [ngClass]="{
                    'soft-orange-bg': row.status_passenger === 'Cancel',
                    'transparent-bg': row.status_passenger !== 'Cancel'
                  }"
                >
                  <span class="text-gray-900 d-block">
                    <div class="d-flex mb-1">
                      <span class="badge badge-light-success">{{ row.created_at | date : 'H:mm' : 'GMT' }}</span>
                      <app-keenicon name="arrow-right" class="fs-md-3"></app-keenicon>
                      <span class="badge badge-light-danger">
                        {{ row.book_date | date : 'H:mm' : 'GMT' }} | {{ row.book_date | date : 'dd' : 'GMT' }}
                      </span>
                    </div>
                    <span class="badge badge-light-primary">
                      {{ row.go_send?.send_date ? (row.go_send?.send_date | date : 'H:mm' : 'GMT') : '-' }} |
                      {{ row.go_send?.send_date ? (row.go_send?.send_date | date : 'dd' : 'GMT') : '-' }} |
                      {{ row.go_send?.employee?.name ? row.go_send?.employee?.name : '-' }} |
                      {{ row.go_send?.car?.car_number ? row.go_send?.car?.car_number : '-' }}
                    </span>
                  </span>
                </td>
                <td
                  [ngClass]="{
                    'soft-orange-bg': row.status_passenger === 'Cancel',
                    'transparent-bg': row.status_passenger !== 'Cancel'
                  }"
                >
                  <span class="text-gray-900 d-block">
                    {{ row.created_at | date : 'dd/MM/yyyy H:mm' : 'GMT' }}
                  </span>
                </td>
                <!-- <td
                  [ngClass]="{
                    'soft-orange-bg': row.status_passenger === 'Cancel',
                    'transparent-bg': row.status_passenger !== 'Cancel'
                  }"
                >
                  <span class="text-gray-900 d-block">
                    @if (row.status_passenger === 'Progress') {
                    <span class="badge badge-light-primary">
                      {{ row.status_passenger }}
                    </span>
                    } @else if (row.status_passenger === 'Delivery') {
                    <span class="badge badge-light-info">
                      {{ row.status_passenger }}
                    </span>
                    } @else if (row.status_passenger === 'Cancel') {
                    <span class="badge badge-light-warning">
                      {{ row.status_passenger }}
                    </span>
                    }@else {
                    <span class="badge badge-light-success">
                      {{ row.status_passenger }}
                    </span>
                    }
                  </span>
                </td> -->
              </ng-template>
            </ngx-table>
            <!-- end::Table -->
          </div>
          <!-- end::Table container -->
        </div>
        <!--end::Tap pane-->

        <!--begin::Tap pane-->
        <div class="tab-pane fade" role="tabpanel" [ngClass]="{ 'active show': currentTab === 'Surabaya' }">
          <!-- begin::Table container -->
          <div class="table-responsive">
            <!-- begin::Table -->
            <ngx-table
              #table
              [configuration]="configuration"
              [data]="data"
              [columns]="columns"
              [pagination]="pagination"
              (event)="eventEmitted($event)"
              tableClass="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3"
            >
              <ng-template let-row let-index="index">
                <!-- <td>
                    <span class="text-gray-900 d-block">{{ row.category_sub_id }}</span>
                  </td> -->
                <td
                  [ngClass]="{
                    'soft-orange-bg': row.status_passenger === 'Cancel',
                    'transparent-bg': row.status_passenger !== 'Cancel'
                  }"
                >
                  <span class="text-gray-900 d-block">
                    {{ row.resi_number }} <br />
                    <div class="d-flex mt-1">
                      <span class="badge badge-light-primary">{{ row.created_by }} </span> <br />
                      <span class="badge badge-light-success">{{ row.book_date | date : 'dd/MM/yyyy' : 'GMT' }} </span>
                    </div>
                  </span>
                </td>
                <td
                  [ngClass]="{
                    'soft-orange-bg': row.status_passenger === 'Cancel',
                    'transparent-bg': row.status_passenger !== 'Cancel'
                  }"
                >
                  <span class="text-gray-900 d-block">
                    @if (row.status === 'Biasa') {
                    <span class="badge">Biasa</span>
                    } @else if (row.status === 'Paket') {
                    <span class="badge badge-light-primary">Paket</span>
                    } @else {
                    <span class="badge badge-light-danger">Executif</span>
                    }
                    <br />
                    <span class="text-gray-900 d-block">{{ row.tariff | currency : 'Rp ' : true : '1.0-2' }}</span>
                  </span>
                </td>
                <td
                  [ngClass]="{
                    'soft-orange-bg': row.status_passenger === 'Cancel',
                    'transparent-bg': row.status_passenger !== 'Cancel'
                  }"
                >
                  @for (value of row.waybills; track value) {
                  <span class="text-gray-900 d-block">
                    <ul>
                      <li>
                        {{ value?.name }} <br />
                        {{ value?.address }} <br />
                        {{ value?.telp }}
                      </li>
                    </ul>
                  </span>
                  }
                </td>
                <td
                  [ngClass]="{
                    'soft-orange-bg': row.status_passenger === 'Cancel',
                    'transparent-bg': row.status_passenger !== 'Cancel'
                  }"
                >
                  @for (value of row.destinations; track value) {
                  <span class="text-gray-900 d-block">
                    <ul>
                      <li>
                        {{ value?.name }} <br />
                        {{ value?.address }} <br />
                        {{ value?.telp }}
                      </li>
                    </ul>
                  </span>
                  }
                </td>
                <td
                  [ngClass]="{
                    'soft-orange-bg': row.status_passenger === 'Cancel',
                    'transparent-bg': row.status_passenger !== 'Cancel'
                  }"
                >
                  <span class="text-gray-900 d-block">
                    <div class="d-flex mb-1">
                      <span class="badge badge-light-success">{{ row.created_at | date : 'H:mm' : 'GMT' }}</span>
                      <app-keenicon name="arrow-right" class="fs-md-3"></app-keenicon>
                      <span class="badge badge-light-danger">
                        {{ row.book_date | date : 'H:mm' : 'GMT' }} | {{ row.book_date | date : 'dd' : 'GMT' }}
                      </span>
                    </div>
                    <span class="badge badge-light-primary">
                      {{ row.go_send?.send_date ? (row.go_send?.send_date | date : 'H:mm' : 'GMT') : '-' }} |
                      {{ row.go_send?.send_date ? (row.go_send?.send_date | date : 'dd' : 'GMT') : '-' }} |
                      {{ row.go_send?.employee?.name ? row.go_send?.employee?.name : '-' }} |
                      {{ row.go_send?.car?.car_number ? row.go_send?.car?.car_number : '-' }}
                    </span>
                  </span>
                </td>
                <td
                  [ngClass]="{
                    'soft-orange-bg': row.status_passenger === 'Cancel',
                    'transparent-bg': row.status_passenger !== 'Cancel'
                  }"
                >
                  <span class="text-gray-900 d-block">
                    {{ row.created_at | date : 'dd/MM/yyyy H:mm' : 'GMT' }}
                  </span>
                </td>
                <!-- <td
                  [ngClass]="{
                    'soft-orange-bg': row.status_passenger === 'Cancel',
                    'transparent-bg': row.status_passenger !== 'Cancel'
                  }"
                >
                  <span class="text-gray-900 d-block">
                    @if (row.status_passenger === 'Progress') {
                    <span class="badge badge-light-primary">
                      {{ row.status_passenger }}
                    </span>
                    } @else if (row.status_passenger === 'Delivery') {
                    <span class="badge badge-light-info">
                      {{ row.status_passenger }}
                    </span>
                    } @else if (row.status_passenger === 'Cancel') {
                    <span class="badge badge-light-warning">
                      {{ row.status_passenger }}
                    </span>
                    }@else {
                    <span class="badge badge-light-success">
                      {{ row.status_passenger }}
                    </span>
                    }
                  </span>
                </td> -->
              </ng-template>
            </ngx-table>
            <!-- end::Table -->
          </div>
          <!-- end::Table container -->
        </div>
        <!--end::Tap pane-->
      </div>
    </div>
  </div>
  <!-- begin::Body -->
</div>
