<!-- begin::Header -->
<div class="card">
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1"> Rekapitulasi Setoran Operasional </span>
      <span class="mt-1 fw-bold fs-7">
        Date: {{ startDate | date : 'yyyy/MM/dd' }} - {{ endDate | date : 'yyyy/MM/dd' }}
      </span>
    </h3>
    <div class="card-toolbar">
      <!-- begin::Menu -->
      <div class="menu-item col text-end px-3">
        <div class="menu-content px-3 py-3">
          <div class="btn btn-info btn-sm px-4 cursor-pointer" (click)="datepicker.toggle()">Filter Date</div>
        </div>
      </div>
      <!-- end::Menu -->

      <div class="dp-hidden position-absolute">
        <div class="input-group">
          <input
            name="datepicker"
            class="form-control hide-datepicker"
            ngbDatepicker
            #datepicker="ngbDatepicker"
            [autoClose]="'outside'"
            (dateSelect)="onDateSelection($event, datepicker)"
            [displayMonths]="2"
            [dayTemplate]="t"
            outsideDays="hidden"
            [startDate]="fromDate!"
            tabindex="-1"
          />
          <ng-template #t let-date let-focused="focused">
            <span
              class="custom-day"
              [class.focused]="focused"
              [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null"
            >
              {{ date.day }}
            </span>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <ngx-table
        #table
        [configuration]="configuration"
        [data]="data"
        [columns]="columns"
        tableClass="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3"
      >
        <ng-template let-row let-index="index">
          <td>
            <span class="text-gray-900 d-block">
              @if (row.date === 'Total') { Total } @else {
              {{ row.date | date : 'yyyy/MM/dd H:mm:ss' : 'GMT' }}
              }
            </span>
          </td>
          <td>
            <span class="text-gray-900 d-block">{{
              row.total_bsd_package | currency : 'Rp ' : 'symbol' : '1.0-2'
            }}</span>
          </td>
          <td>
            <span class="text-gray-900 d-block">{{
              row.total_bsd_passenger | currency : 'Rp ' : 'symbol' : '1.0-2'
            }}</span>
          </td>
          <td>
            <span class="text-gray-900 d-block">{{
              row.package_paid_mlg | currency : 'Rp ' : 'symbol' : '1.0-2'
            }}</span>
          </td>
          <td>
            <span class="text-gray-900 d-block">{{
              row.package_paid_sby | currency : 'Rp ' : 'symbol' : '1.0-2'
            }}</span>
          </td>
          <td>
            <span class="text-gray-900 d-block">
              @if (row.date === 'Total') {
              {{ row.count_pnp_pkt_transfer_monthly | currency : 'Rp ' : 'symbol' : '1.0-2' }}
              } @else { Rp 0 }
            </span>
          </td>
          <td>
            <span class="text-gray-900 d-block">
              @if (row.date === 'Total') {
              {{ row.count_operational_deposit | currency : 'Rp ' : 'symbol' : '1.0-2' }}
              } @else { Rp 0 }
            </span>
          </td>
          <td>
            <span class="text-gray-900 d-block">{{
              row.piutang_package_mlg + row.piutang_passenger_mlg | currency : 'Rp ' : 'symbol' : '1.0-2'
            }}</span>
          </td>
          <td>
            <span class="text-gray-900 d-block">{{
              row.piutang_package_sby + row.piutang_passenger_sby | currency : 'Rp ' : 'symbol' : '1.0-2'
            }}</span>
          </td>
          <td>
            <span class="text-gray-900 d-block">{{
              row.commission_package_mlg + row.commission_passenger_mlg | currency : 'Rp ' : 'symbol' : '1.0-2'
            }}</span>
          </td>
          <td>
            <span class="text-gray-900 d-block">{{
              row.commission_package_sby + row.commission_passenger_sby | currency : 'Rp ' : 'symbol' : '1.0-2'
            }}</span>
          </td>
        </ng-template>
      </ngx-table>
      <!-- end::Table -->

      @if (startDate && endDate) {
      <div class="mt-5">
        <h3 class="fw-bold">
          TOTAL OMZET: {{ totalSetoran | currency : 'Rp ' : 'symbol' : '1.0-2' }} -
          {{ totalCommission | currency : 'Rp ' : 'symbol' : '1.0-2' }} =
          {{ totalOmzet | currency : 'Rp ' : 'symbol' : '1.0-2' }}
        </h3>
      </div>
      }
    </div>
    <!-- end::Table container -->
  </div>
</div>
<!-- begin::Body -->
