<div class="p-3">
  <div class="m-0">
    <div class="card-header border-0 pt-5">
      <div class="card-toolbar">
        <div class="col">
          <!-- begin::Menu -->
          <div class="menu-item">
            <div class="menu-content px-0 text-center">
              <h3 class="card-title align-items-start flex-column mb-2">
                <span class="card-label fw-bolder fs-2">
                  @if (lastSegment === 'printbayartujuan') { @if (city === 'Malang') { LIST PAKET BAYAR TUJUAN (BA)
                  MALANG } @else if (city === 'Surabaya') { LIST PAKET BAYAR TUJUAN (BA) SURABAYA } @else { LIST PAKET
                  BAYAR TUJUAN (BA) MALANG & SURABAYA } } @else { @if (city === 'Malang') { @if (status === 'Lunas
                  (Kantor)') { LIST LUNAS PAKET MALANG } @else { LIST SEMUA PAKET MALANG } } @else if (city ===
                  'Surabaya') { @if (status === 'Lunas (Kantor)') { LIST LUNAS PAKET SURABAYA } @else { LIST SEMUA PAKET
                  SURABAYA } } @else { @if (status === 'Customer (Bulanan)') { LIST CUSTOMER (BULANAN) } @else if
                  (status === 'Lunas (Transfer)') { LIST LUNAS (TRANSFER) } } }
                </span>
              </h3>
              @if (startDate && endDate) {
              <span class="card-label fw-bolder fs-5">
                PERIODE: {{ startDateDisplay | date : 'dd/MM/yyyy' }} - {{ endDateDisplay | date : 'dd/MM/yyyy' }}
              </span>
              }
            </div>
          </div>
          <!-- end::Menu -->
        </div>
      </div>
    </div>
    <!-- end::Header -->
    <!-- begin::Body -->
    <div class="card-body py-3">
      <!-- begin::Table container -->
      <div class="table-responsive table-custom">
        <!-- begin::Table -->
        <ngx-table
          #table
          [configuration]="configuration"
          [data]="data"
          [columns]="columns"
          [pagination]="pagination"
          tableClass="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3"
        >
          <ng-template let-row let-index="index" ngx-table-row>
            <td
              [ngClass]="{
                'soft-warning-bg': row.go_send_id == null
              }"
            >
              <span class="text-gray-900 d-block">{{ getIndex(index) }}</span>
            </td>
            <td
              [ngClass]="{
                'soft-orange-bg': row.status_package === 'Cancel',
                'transparent-bg': row.status_package !== 'Cancel'
              }"
            >
              <span class="text-gray-900 fw-bolder fs-7">
                {{ row.resi_number }}
              </span>
              <span class="text-gray-900 fs-9">
                {{ row.createdAt | date : 'dd/MM/yyyy H:mm:ss' }}
              </span>
            </td>
            <td
              [ngClass]="{
                'soft-orange-bg': row.status_package === 'Cancel',
                'transparent-bg': row.status_package !== 'Cancel'
              }"
            >
              <span class="text-gray-900 d-block">
                {{ row.cost | currency : 'Rp ' : 'symbol' : '1.0-2' }}
              </span>
            </td>
            <td
              [ngClass]="{
                'soft-orange-bg': row.status_package === 'Cancel',
                'transparent-bg': row.status_package !== 'Cancel'
              }"
            >
              <span class="text-gray-900 d-block">
                {{ row.origin_from }}
              </span>
            </td>
            <td
              [ngClass]="{
                'soft-orange-bg': row.status_package === 'Cancel',
                'transparent-bg': row.status_package !== 'Cancel'
              }"
            >
              <span class="text-gray-900 d-block">
                {{ row.status }}
              </span>
            </td>
            <td
              [ngClass]="{
                'soft-orange-bg': row.status_package === 'Cancel',
                'transparent-bg': row.status_package !== 'Cancel'
              }"
            >
              @if (row.level === 'Normal') {
              <span class="badge badge-light-primary">Normal</span>
              } @else if (row.level === 'Urgent') {
              <span class="badge badge-light-danger">Urgent</span>
              }
            </td>
            <td
              [ngClass]="{
                'soft-orange-bg': row.status_package === 'Cancel',
                'transparent-bg': row.status_package !== 'Cancel'
              }"
            >
              <span class="text-gray-900 d-block">
                {{ row.description }}
              </span>
            </td>
            <td
              [ngClass]="{
                'soft-orange-bg': row.status_package === 'Cancel',
                'transparent-bg': row.status_package !== 'Cancel'
              }"
            >
              <span class="text-gray-900 d-block">
                {{ row.koli }}
              </span>
            </td>
            <td
              [ngClass]="{
                'soft-orange-bg': row.status_package === 'Cancel',
                'transparent-bg': row.status_package !== 'Cancel'
              }"
            >
              <span class="text-gray-900 d-block">
                {{ row.book_date | date : 'dd/MM/yyyy H:mm:ss' : 'GMT' }}
              </span>
            </td>
            <td
              [ngClass]="{
                'soft-orange-bg': row.status_package === 'Cancel',
                'transparent-bg': row.status_package !== 'Cancel'
              }"
            >
              <span class="text-gray-900 d-block">
                @if (row.status === 'Bayar Tujuan (COD)' && row.check_payment === true) {
                {{ row.updated_by }}
                } @if (row.status !== 'Bayar Tujuan (COD)') {
                {{ row.created_by }}
                }
              </span>
            </td>
            <td
              [ngClass]="{
                'soft-orange-bg': row.status_package === 'Cancel',
                'transparent-bg': row.status_package !== 'Cancel'
              }"
            >
              <span class="text-gray-900 d-block">
                {{ row.sender?.name }} <br />
                {{ row.sender?.address }} <br />
                {{ row.sender?.telp }}
              </span>
            </td>
            <td
              [ngClass]="{
                'soft-orange-bg': row.status_package === 'Cancel',
                'transparent-bg': row.status_package !== 'Cancel'
              }"
            >
              <span class="text-gray-900 d-block">
                {{ row.recipient?.name }}<br />
                {{ row.recipient?.address }}<br />
                {{ row.recipient?.telp }}
              </span>
            </td>
            <!-- <td
              [ngClass]="{
                'soft-orange-bg': row.status_package === 'Cancel',
                'transparent-bg': row.status_package !== 'Cancel'
              }"
            >
              <span class="text-gray-900 d-block">
                {{
                  row.updatedAt
                    ? (row.updatedAt | date : 'dd/MM/yyyy H:mm:ss' : 'GMT')
                    : (row.createdAt | date : 'dd/MM/yyyy H:mm:ss' : 'GMT')
                }}
              </span>
            </td> -->
          </ng-template>
        </ngx-table>
        <!-- end::Table -->
      </div>
      <!-- end::Table container -->

      <div class="mt-7">
        <span
          ><b>TOTAL PACKAGE: {{ data?.length | number }}</b></span
        ><br />
        <span
          ><b>TOTAL COST: {{ totalCost | currency : 'Rp ' : 'symbol' : '1.0-2' }}</b></span
        ><br />
      </div>
      <div class="mt-1">
        @for (admin of groupAdmin; track admin) {
        <span>{{ admin.admin }} = {{ admin.totalCost | currency : 'Rp ' : 'symbol' : '1.0-2' }}</span
        ><br />
        }
      </div>

      <hr />

      <h3 class="card-title align-items-start flex-column mb-2 mt-10">
        <span class="card-label fw-bolder fs-2"> PER DRIVER </span>
      </h3>

      <!-- begin::Table container -->
      <div class="table-responsive table-custom mb-3">
        <!-- begin::Table -->
        <ngx-table
          #table
          [configuration]="configuration"
          [data]="dataDriver"
          [columns]="columnsDriver"
          tableClass="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3"
        >
          <ng-template let-row let-index="index" ngx-table-row>
            <td>
              <span class="text-gray-900 d-block">{{ index + 1 }}</span>
            </td>
            <td>
              <span class="text-gray-900 fw-bolder fs-7">
                {{ row.employee?.name }}
              </span>
            </td>
            <td>
              <span class="text-gray-900 d-block">
                {{ row.send_date | date : 'dd/MM/yyyy H:mm:ss a' : 'GMT' }}
              </span>
            </td>
            <td>
              <span class="text-gray-900 d-block">
                {{ row.total_packages | number }}
              </span>
            </td>
            <td>
              <span class="text-gray-900 d-block">
                {{ row.total_cost | currency : 'Rp ' : 'symbol' : '1.0-2' }}
              </span>
            </td>
          </ng-template>
        </ngx-table>
        <!-- end::Table -->
      </div>
      <!-- end::Table container -->
    </div>
  </div>
</div>
