<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
  <!--begin::Col-->
  <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
    <!--begin::Card body-->
    <div class="card-body pt-0">left</div>
    <!--end::Card body-->
  </div>
  <!--end::Col-->

  <!--begin::Col-->
  <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
    <!--begin::Card body-->
    <div class="card-body pt-0">right</div>
    <!--end::Card body-->
  </div>
  <!--end::Col-->
</div>
<!--end::Row-->
