<!-- begin::Header -->
<div class="card">
  <div class="card-header d-block">
    <div class="input-group d-block">
      <label class="d-block mt-5">
        <input
          id="select-gosend"
          type="text"
          class="form-control"
          [(ngModel)]="searchGlobal"
          [ngbTypeahead]="searchDataGoSend"
          [placeholder]="'Search name, address, no resi' | translate"
        />
        <span hidden translate>Search name, address, no resi</span>
      </label>
    </div>
  </div>

  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column" style="width: 30%">
      <span class="card-label fw-bolder fs-3 mb-1">
        @if (currentTab === 'Malang') { Schedule Delivery Malang } @else if (currentTab === 'Surabaya') { Schedule
        Delivery Surabaya }
      </span>
      <span class="text-muted mt-1 fw-bold fs-7"> Have {{ dataLength | number }} items </span>
    </h3>
    <div class="card-toolbar" style="width: 30%">
      <ul class="nav nav-pills nav-pills-sm nav-dark-75">
        <li class="nav-item" (click)="setCurrentTab('Malang')" [style.cursor]="'pointer'">
          <a class="nav-link py-2 px-4" [class.active]="currentTab === 'Malang'" data-toggle="tab">Malang</a>
        </li>
        <li class="nav-item" (click)="setCurrentTab('Surabaya')" [style.cursor]="'pointer'">
          <a class="nav-link py-2 px-4" [class.active]="currentTab === 'Surabaya'" data-toggle="tab">Surabaya</a>
        </li>
      </ul>
    </div>

    <div class="card-toolbar" style="width: 13.2%">
      @if (currentTab === 'Malang' && levelrule === 2 && city_id === 1) {
      <ul class="nav nav-pills nav-pills-sm nav-dark-75">
        <li class="nav-item" (click)="openModalNewSP()" [style.cursor]="'pointer'">
          <a class="nav-link py-2 px-4 active">New Schedule</a>
        </li>
        <!-- <li class="nav-item" [style.cursor]="'pointer'">
              <a
                class="btn btn-icon btn-primary btn-hover-primary btn-sm cursor-pointer"
                data-bs-toggle="tooltip"
                data-bs-trigger="hover"
                data-bs-dismiss-="click"
                data-bs-placement="top"
                title="Generate SP Package"
                (click)="openModalGeneratePackageSP()"
              >
                <app-keenicon name="package" class="fs-md-3 text-light"></app-keenicon>
              </a>
            </li>
            <li class="nav-item" [style.cursor]="'pointer'">
              <a
                class="btn btn-icon btn-primary btn-hover-primary btn-sm cursor-pointer"
                data-bs-toggle="tooltip"
                data-bs-trigger="hover"
                data-bs-dismiss-="click"
                data-bs-placement="top"
                title="Generate SP Passenger"
                (click)="openModalGeneratePackageSP()"
              >
                <app-keenicon name="people" class="fs-md-3 text-light"></app-keenicon>
              </a>
            </li> -->
      </ul>
      } @if (currentTab === 'Surabaya' && levelrule === 2 && city_id === 2) {
      <ul class="nav nav-pills nav-pills-sm nav-dark-75">
        <li class="nav-item" (click)="openModalNewSP()" [style.cursor]="'pointer'">
          <a class="nav-link py-2 px-4 active">New Schedule</a>
        </li>
        <!-- <li class="nav-item" [style.cursor]="'pointer'">
              <a
                class="btn btn-icon btn-primary btn-hover-primary btn-sm cursor-pointer"
                data-bs-toggle="tooltip"
                data-bs-trigger="hover"
                data-bs-dismiss-="click"
                data-bs-placement="top"
                title="Generate SP Package"
                (click)="openModalGeneratePackageSP()"
              >
                <app-keenicon name="package" class="fs-md-3 text-light"></app-keenicon>
              </a>
            </li>
            <li class="nav-item" [style.cursor]="'pointer'">
              <a
                class="btn btn-icon btn-primary btn-hover-primary btn-sm cursor-pointer"
                data-bs-toggle="tooltip"
                data-bs-trigger="hover"
                data-bs-dismiss-="click"
                data-bs-placement="top"
                title="Generate SP Passenger"
                (click)="openModalGeneratePackageSP()"
              >
                <app-keenicon name="people" class="fs-md-3 text-light"></app-keenicon>
              </a>
            </li> -->
      </ul>
      } @if (levelrule === 8) {
      <ul class="nav nav-pills nav-pills-sm nav-dark-75">
        <li class="nav-item" (click)="openModalNewSP()" [style.cursor]="'pointer'">
          <a class="nav-link py-2 px-4 active">New Schedule</a>
        </li>
      </ul>
      }
    </div>
  </div>
  <!-- end::Header -->

  <!-- begin::Body -->
  <div class="card-body py-3">
    <div class="tab-content mt-5" id="tabPackage">
      <!--begin::Tap pane-->
      <div class="tab-pane fade" role="tabpanel" [ngClass]="{ 'active show': currentTab === 'Malang' }">
        <!-- begin::Table container -->
        <div class="table-responsive full-width">
          <!-- begin::Table -->
          <ngx-table
            #table
            [configuration]="configuration"
            [data]="data"
            [columns]="columns"
            [pagination]="pagination"
            (event)="eventEmitted($event)"
            tableClass="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3"
          >
            <ng-template let-row let-index="index">
              <!-- <td>
                <span class="text-gray-900 d-block">{{ row.category_sub_id }}</span>
              </td> -->
              <td>
                <span class="text-gray-900 d-block">
                  {{ row.send_date | date : 'dd/MM/yyyy' : 'GMT' }} <br />
                  {{ row.send_date | date : 'H:mm:ss a' : 'GMT' }}
                </span>
              </td>
              <td>
                <span
                  class="text-gray-900 fw-bolder text-hover-primary fs-6 cursor-pointer"
                  ngbTooltip="Detail SP"
                  (click)="openModalView(row)"
                >
                  {{ row.employee?.name }}
                </span>
              </td>
              <!-- <td>
                <span class="text-gray-900 d-block">
                  @if (row.status === 'Reguler') {
                  {{ row.sp_passenger }}
                  } @else {
                  {{ row.sp_package }}
                  }
                </span>
              </td> -->
              <td>
                <span class="text-gray-900 d-block">
                  @if (row.packages) {
                  {{ row.packages?.length }} Paket, } @else { 0 Paket, } @if (row.packages) {
                  {{ row.passengers?.length }} Orang } @else { 0 Orang } <br />
                  {{ row.description }}
                </span>
              </td>
              <td>
                <span class="text-gray-900 d-block">
                  @if (row?.packages?.length > 0) {
                  <img
                    style="width: 25px; cursor: pointer"
                    src="../../../../assets/media/box.png"
                    alt="{{ row.sp_package }}"
                    ngbTooltip="{{ row.sp_package }}"
                  />
                  } @if (row?.passengers?.length > 0) {
                  <img
                    style="width: 22px; cursor: pointer"
                    src="../../../../assets/media/avatars/blank.png"
                    alt="{{ row.sp_passenger }}"
                    ngbTooltip="{{ row.sp_passenger }}"
                  />
                  }
                </span>
              </td>
              <td>
                <span class="text-gray-900 d-block">
                  <span>{{ row.car?.name }}</span
                  ><br />
                  <span>{{ row.car?.number_plat }}</span
                  ><br />
                  <span>{{ row.car?.car_number }}</span>
                </span>
              </td>
              <td>
                <span class="text-gray-900 d-block">{{ row.status }}</span>
              </td>
              <td class="text-end">
                @if (levelrule === 2 && city_id === 1 || levelrule === 8) {
                <a
                  class="btn btn-icon btn-light btn-hover-primary btn-sm cursor-pointer"
                  data-bs-toggle="tooltip"
                  data-bs-trigger="hover"
                  data-bs-dismiss-="click"
                  data-bs-placement="top"
                  ngbTooltip="Edit Driver"
                  (click)="openModalEditSP(row)"
                >
                  <app-keenicon name="pencil" class="fs-md-3 text-primary"></app-keenicon>
                </a>
                <a
                  class="btn btn-icon btn-primary btn-hover-primary btn-sm cursor-pointer"
                  data-bs-toggle="tooltip"
                  data-bs-trigger="hover"
                  data-bs-dismiss-="click"
                  data-bs-placement="top"
                  ngbTooltip="Generate SP Package"
                  (click)="openModalGeneratePackageSP(row)"
                >
                  <app-keenicon name="package" class="fs-md-3 text-light"></app-keenicon>
                </a>
                <a
                  class="btn btn-icon btn-primary btn-hover-primary btn-sm cursor-pointer"
                  data-bs-toggle="tooltip"
                  data-bs-trigger="hover"
                  data-bs-dismiss-="click"
                  data-bs-placement="top"
                  ngbTooltip="Generate SP Passenger"
                  (click)="openModalGeneratePassengerSP(row)"
                >
                  <app-keenicon name="people" class="fs-md-3 text-light"></app-keenicon>
                </a>
                }
                <a
                  class="btn btn-icon btn-light btn-hover-primary btn-sm cursor-pointer"
                  data-bs-toggle="tooltip"
                  data-bs-trigger="hover"
                  data-bs-dismiss-="click"
                  data-bs-placement="top"
                  ngbTooltip="Detail SP"
                  (click)="openModalView(row)"
                >
                  <app-keenicon name="document" class="fs-md-3 text-primary"></app-keenicon>
                </a>
                <!-- <a
                  class="btn btn-icon btn-light btn-hover-primary btn-sm cursor-pointer"
                  data-bs-toggle="tooltip"
                  data-bs-trigger="hover"
                  data-bs-dismiss-="click"
                  data-bs-placement="top"
                  title="Print SP"
                  (click)="printSP(row)"
                >
                  <app-keenicon name="printer" class="fs-md-3 text-primary"></app-keenicon>
                </a> -->

                @if (levelrule === 2 && city_id === 1 || levelrule === 8) { @if (row?.packages?.length === 0 &&
                row?.passengers?.length === 0) {
                <a
                  class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
                  data-bs-toggle="tooltip"
                  data-bs-trigger="hover"
                  data-bs-dismiss-="click"
                  data-bs-placement="top"
                  ngbTooltip="Delete Delivery"
                  (click)="openModalDelete(row)"
                >
                  <app-keenicon name="trash" class="fs-md-3 text-danger"></app-keenicon>
                </a>
                } }
              </td>
            </ng-template>
          </ngx-table>
          <!-- end::Table -->
        </div>
        <!-- end::Table container -->
      </div>
      <!--end::Tap pane-->

      <!--begin::Tap pane-->
      <div class="tab-pane fade" role="tabpanel" [ngClass]="{ 'active show': currentTab === 'Surabaya' }">
        <!-- begin::Table container -->
        <div class="table-responsive full-width">
          <!-- begin::Table -->
          <ngx-table
            #table
            [configuration]="configuration"
            [data]="data"
            [columns]="columns"
            [pagination]="pagination"
            (event)="eventEmitted($event)"
            tableClass="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3"
          >
            <ng-template let-row let-index="index">
              <!-- <td>
                <span class="text-gray-900 d-block">{{ row.category_sub_id }}</span>
              </td> -->
              <td>
                <span class="text-gray-900 d-block">
                  {{ row.send_date | date : 'dd/MM/yyyy' : 'GMT' }} <br />
                  {{ row.send_date | date : 'H:mm:ss a' : 'GMT' }}
                </span>
              </td>
              <td>
                <span
                  class="text-gray-900 fw-bolder text-hover-primary fs-6 cursor-pointer"
                  ngbTooltip="Detail SP"
                  (click)="openModalView(row)"
                >
                  {{ row.employee?.name }}
                </span>
              </td>
              <!-- <td>
                <span class="text-gray-900 d-block">
                  @if (row.status === 'Reguler') {
                  {{ row.sp_passenger }}
                  } @else {
                  {{ row.sp_package }}
                  }
                </span>
              </td> -->
              <td>
                <span class="text-gray-900 d-block">
                  @if (row.packages) {
                  {{ row.packages?.length }} Paket, } @else { 0 Paket, } @if (row.packages) {
                  {{ row.passengers?.length }} Orang } @else { 0 Orang } <br />
                  {{ row.description }}
                </span>
              </td>
              <td>
                <span class="text-gray-900 d-block">
                  @if (row?.packages?.length > 0) {
                  <img
                    style="width: 25px; cursor: pointer"
                    src="../../../../assets/media/box.png"
                    alt="{{ row.sp_package }}"
                    ngbTooltip="{{ row.sp_package }}"
                  />
                  } @if (row?.passengers?.length > 0) {
                  <img
                    style="width: 22px; cursor: pointer"
                    src="../../../../assets/media/avatars/blank.png"
                    alt="{{ row.sp_passenger }}"
                    ngbTooltip="{{ row.sp_passenger }}"
                  />
                  }
                </span>
              </td>
              <td>
                <span class="text-gray-900 d-block">
                  <span>{{ row.car?.name }}</span
                  ><br />
                  <span>{{ row.car?.number_plat }}</span
                  ><br />
                  <span>{{ row.car?.car_number }}</span>
                </span>
              </td>
              <td>
                <span class="text-gray-900 d-block">{{ row.status }}</span>
              </td>
              <td class="text-end">
                @if (levelrule === 2 && city_id === 2 || levelrule === 8) {
                <a
                  class="btn btn-icon btn-light btn-hover-primary btn-sm cursor-pointer"
                  data-bs-toggle="tooltip"
                  data-bs-trigger="hover"
                  data-bs-dismiss-="click"
                  data-bs-placement="top"
                  ngbTooltip="Edit Driver"
                  (click)="openModalEditSP(row)"
                >
                  <app-keenicon name="pencil" class="fs-md-3 text-primary"></app-keenicon>
                </a>
                <a
                  class="btn btn-icon btn-primary btn-hover-primary btn-sm cursor-pointer"
                  data-bs-toggle="tooltip"
                  data-bs-trigger="hover"
                  data-bs-dismiss-="click"
                  data-bs-placement="top"
                  ngbTooltip="Generate SP Package"
                  (click)="openModalGeneratePackageSP(row)"
                >
                  <app-keenicon name="package" class="fs-md-3 text-light"></app-keenicon>
                </a>
                <a
                  class="btn btn-icon btn-primary btn-hover-primary btn-sm cursor-pointer"
                  data-bs-toggle="tooltip"
                  data-bs-trigger="hover"
                  data-bs-dismiss-="click"
                  data-bs-placement="top"
                  ngbTooltip="Generate SP Passenger"
                  (click)="openModalGeneratePassengerSP(row)"
                >
                  <app-keenicon name="people" class="fs-md-3 text-light"></app-keenicon>
                </a>
                }
                <a
                  class="btn btn-icon btn-light btn-hover-primary btn-sm cursor-pointer"
                  data-bs-toggle="tooltip"
                  data-bs-trigger="hover"
                  data-bs-dismiss-="click"
                  data-bs-placement="top"
                  ngbTooltip="Detail SP"
                  (click)="openModalView(row)"
                >
                  <app-keenicon name="document" class="fs-md-3 text-primary"></app-keenicon>
                </a>
                <!-- <a
                  class="btn btn-icon btn-light btn-hover-primary btn-sm cursor-pointer"
                  data-bs-toggle="tooltip"
                  data-bs-trigger="hover"
                  data-bs-dismiss-="click"
                  data-bs-placement="top"
                  title="Print SP"
                  (click)="printSP(row)"
                >
                  <app-keenicon name="printer" class="fs-md-3 text-primary"></app-keenicon>
                </a> -->

                @if (levelrule === 2 && city_id === 2 || levelrule === 8) { @if (row?.packages?.length === 0 &&
                row?.passengers?.length === 0) {
                <a
                  class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
                  data-bs-toggle="tooltip"
                  data-bs-trigger="hover"
                  data-bs-dismiss-="click"
                  data-bs-placement="top"
                  ngbTooltip="Delete Delivery"
                  (click)="openModalDelete(row)"
                >
                  <app-keenicon name="trash" class="fs-md-3 text-danger"></app-keenicon>
                </a>
                } }
              </td>
            </ng-template>
          </ngx-table>
          <!-- end::Table -->
        </div>
        <!-- end::Table container -->
      </div>
      <!--end::Tap pane-->
    </div>
  </div>
</div>
<!-- begin::Body -->

<!-- begin:: Modal SP -->
<app-modal #modalSP [modalConfig]="isCreateSP ? modalConfigCreateSP : modalConfigEditSP">
  <form (ngSubmit)="isCreateSP ? dataCreateSP() : dataEditSP()" [formGroup]="formSP" novalidate>
    <div class="m-3">
      <label class="d-block mb-4">
        <div class="custom-datetime input-group">
          <input
            readonly
            class="form-control"
            placeholder="Select book date"
            name="dp"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="bookdate"
            ngbDatepicker
            [minDate]="minDate"
            (click)="datePicker.toggle()"
            #datePicker="ngbDatepicker"
            (ngModelChange)="onDateChange($event)"
          />
          <ngb-timepicker-custom
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="booktime"
            [hourStep]="1"
            [minuteStep]="30"
            [startHour]="1"
            [endHour]="23"
            [seconds]="false"
            [spinners]="false"
            [select]="true"
          >
          </ngb-timepicker-custom>
        </div>
      </label>
      <label class="d-block mb-4">
        <input
          id="select-employee"
          type="text"
          class="form-control"
          [class.is-invalid]="searchFailed"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="modelEmployee"
          [ngbTypeahead]="searchDataEmployee"
          [resultTemplate]="rt"
          [inputFormatter]="formatter"
          placeholder="Employee search"
        />
        <ng-template #rt let-r="result" let-t="term">
          {{ r.name }}
        </ng-template>

        @if (searchingEmployee) {
        <small class="form-text text-muted">Searching. Please wait...</small>
        } @if (searchFailedEmployee) {
        <div class="invalid-feedback">Sorry, suggestions could not be loaded.</div>
        } @if (modelEmployee) {
        <!--begin::Details toggle-->
        <div class="d-flex flex-stack fs-4 py-3">
          <div
            class="fw-bold rotate collapsible"
            role="button"
            aria-expanded="false"
            aria-controls="kt_user_view_details"
          >
            Details
          </div>
        </div>
        <!--end::Details toggle-->

        <div class="separator"></div>

        <!--begin::Details content-->
        <div id="kt_user_view_details" class="collapse show">
          <div class="pb-5 fs-6">
            <div class="fw-bold">Name</div>
            <div class="text-gray-600">{{ modelEmployee?.name }}</div>
            <div class="fw-bold mt-3">Telp</div>
            <div class="text-gray-600">{{ modelEmployee?.telp }}</div>
            <div class="fw-bold mt-3">Photo</div>
            <!-- <div class="text-gray-600">
                  <img class="full-width" src="../../../../assets/media/avatars/300-1.jpg"/>
                </div> -->
          </div>
        </div>
        }
        <!--end::Details content-->
      </label>
      <label class="d-block mb-4">
        <input
          id="select-car"
          type="text"
          class="form-control"
          [class.is-invalid]="searchFailed"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="modelCar"
          [ngbTypeahead]="searchDataCar"
          [resultTemplate]="rt"
          [inputFormatter]="formatter"
          placeholder="Car search"
        />
        <ng-template #rt let-r="result" let-t="term">
          {{ r.car_number }}
        </ng-template>

        @if (searchingCar) {
        <small class="form-text text-muted">Searching. Please wait...</small>
        } @if (searchFailedCar) {
        <div class="invalid-feedback">Sorry, suggestions could not be loaded.</div>
        } @if (modelCar) {
        <!--begin::Details toggle-->
        <div class="d-flex flex-stack fs-4 py-3">
          <div
            class="fw-bold rotate collapsible"
            role="button"
            aria-expanded="false"
            aria-controls="kt_user_view_details"
          >
            Details
          </div>
        </div>
        <!--end::Details toggle-->

        <div class="separator"></div>

        <!--begin::Details content-->
        <div id="kt_user_view_details" class="collapse show">
          <div class="pb-5 fs-6">
            <div class="fw-bold">Name</div>
            <div class="text-gray-600">{{ this.modelCar?.name }}</div>
            <div class="fw-bold mt-3">Plat Number</div>
            <div class="text-gray-600">{{ this.modelCar?.number_plat }}</div>
            <div class="fw-bold mt-3">Car Number</div>
            <div class="text-gray-600">{{ this.modelCar?.car_number }}</div>
            <div class="fw-bold mt-3">Photo</div>
            <!-- <div class="text-gray-600">
                  <img class="full-width" src="../../../../assets/media/stock/600x400/img-10.jpg"/>
                </div> -->
          </div>
        </div>
        }
        <!--end::Details content-->
      </label>
      <label class="d-block mb-4">
        <input
          type="text"
          class="form-control"
          formControlName="description"
          name="description"
          autocomplete="description"
          [placeholder]="'Description' | translate"
        />
        <span hidden translate>Description Name</span>
      </label>
      <div class="mb-4">
        <label class="form-label fw-bold">Status:</label>
        <div class="d-flex">
          <label class="form-check form-check-sm form-check-custom form-check-solid me-5">
            <input class="form-check-input" type="radio" value="Reguler" name="status" formControlName="status" />
            <span class="form-check-label text-gray-900">Reguler</span>
          </label>
          <label class="form-check form-check-sm form-check-custom form-check-solid me-5">
            <input class="form-check-input" type="radio" value="Box" name="status" formControlName="status" />
            <span class="form-check-label text-gray-900">Box</span>
          </label>
        </div>
      </div>
    </div>
    <div class="mt-10">
      <button class="btn btn-primary w-100" type="submit" [disabled]="form.invalid || isLoading">
        <!--begin::Spinner-->
        <span
          class="translate-middle-y lh-0 me-1"
          data-kt-search-element="spinner"
          [ngClass]="isLoading ? '' : 'd-none'"
        >
          <span class="spinner-border h-15px w-15px align-middle text-gray-500"></span>
        </span>
        <!--end::Spinner-->
        <span translate>Submit</span>
      </button>
    </div>
  </form>
</app-modal>
<!-- Note: Don't forget import ModalsModule (from _metronic/partials) into your module -->
<!-- end:: Modal sp -->

<!-- begin:: Modal Edit employee -->
<app-modal #modal [modalConfig]="isCreate ? modalConfigCreate : modalConfigEdit">
  <form (ngSubmit)="isCreate ? dataCreate() : dataEdit()" [formGroup]="form" novalidate>
    <div class="m-3">
      <label class="d-block mb-4">
        <input
          type="text"
          class="form-control"
          formControlName="nik"
          autocomplete="nik"
          [placeholder]="'NIK' | translate"
        />
        <span hidden translate>NIK</span>
        <small *ngIf="f['nik'].errors?.['maxlength']" class="text-danger" translate> NIK maximum 50 characters</small>
      </label>
      <label class="d-block mb-4">
        <input
          type="text"
          class="form-control"
          formControlName="name"
          autocomplete="name"
          [placeholder]="'Employee name' | translate"
        />
        <span hidden translate>Driver Name</span>
        <small *ngIf="f['name'].errors?.['maxlength']" class="text-danger" translate>
          Driver name maximum 255 characters</small
        >
      </label>
      <label class="d-block mb-4">
        <input
          type="text"
          class="form-control"
          formControlName="telp"
          autocomplete="telp"
          [placeholder]="'Telp' | translate"
        />
        <span hidden translate>Telp</span>
        <small *ngIf="f['telp'].errors?.['maxlength']" class="text-danger" translate> Telp maximum 15 characters</small>
      </label>
      <label class="d-block mb-4">
        <select
          class="form-select form-control"
          data-kt-select2="true"
          data-placeholder="Select city"
          data-allow-clear="true"
          formControlName="city_id"
        >
          <option value="" disabled selected>Select city</option>
          @for (value of city; track value) {
          <option [value]="value.city_id">{{ value.name }}</option>
          }
        </select>
      </label>
      <label class="d-block mb-8">
        <select
          class="form-select form-control"
          data-kt-select2="true"
          data-placeholder="Select position"
          data-allow-clear="true"
          formControlName="level_id"
        >
          <option value="" disabled selected>Select position</option>
          @for (value of level; track value) {
          <option [value]="value.level_id">{{ value.name }}</option>
          }
        </select>
      </label>
    </div>
    <div class="mt-10">
      <button class="btn btn-primary w-100" type="submit" [disabled]="form.invalid || isLoading">
        <!--begin::Spinner-->
        <span
          class="translate-middle-y lh-0 me-1"
          data-kt-search-element="spinner"
          [ngClass]="isLoading ? '' : 'd-none'"
        >
          <span class="spinner-border h-15px w-15px align-middle text-gray-500"></span>
        </span>
        <!--end::Spinner-->
        <span translate>Submit</span>
      </button>
    </div>
  </form>
</app-modal>
<!-- Note: Don't forget import ModalsModule (from _metronic/partials) into your module -->
<!-- end:: Modal employee -->

<!-- begin:: Modal detail print sp -->
<app-modal-full #modalDetail [modalConfig]="modalConfigDetailSP" [modalClass]="addClass">
  <div class="m-0">
    <div class="card-header border-0" style="display: flex; justify-content: space-between">
      <div class="card-toolbar">
        <div class="col">
          <!-- begin::Menu -->
          <div class="menu-item">
            <div class="menu-content px-0">
              <h3 class="card-title align-items-start flex-column">
                <span class="card-label fw-bolder fs-3 mb-1"> List Passenger </span>
              </h3>
            </div>
          </div>
          <!-- end::Menu -->
        </div>
      </div>
      <div class="card-toolbar">
        <div class="col text-end">
          <!-- begin::Menu -->
          <div class="menu-item px-3">
            <div class="menu-content px-2 py-1">
              <a
                class="btn btn-danger btn-hover-primary btn-sm cursor-pointer p-1 px-3 fs-7"
                data-bs-toggle="tooltip"
                data-bs-trigger="hover"
                data-bs-dismiss-="click"
                data-bs-placement="top"
                title="Cetak Tiket"
                (click)="printTicket(dataDetailPassenger, 'Passenger')"
              >
                Cetak Ticket
              </a>
              <a
                class="btn btn-primary btn-hover-primary btn-sm cursor-pointer p-1 px-3 fs-7"
                data-bs-toggle="tooltip"
                data-bs-trigger="hover"
                data-bs-dismiss-="click"
                data-bs-placement="top"
                title="Cetak SP"
                (click)="printSP(dataDetailPassenger, 'Passenger')"
              >
                Cetak SP
              </a>
            </div>
          </div>
          <!-- end::Menu -->
        </div>
      </div>
    </div>
  </div>
  <!-- begin::Table container -->
  <div class="table-responsive full-width">
    <!-- begin::Table -->
    <ngx-table
      #table
      [configuration]="configurationDetail"
      [data]="dataDetailPassenger"
      [columns]="columnsPassenger"
      (event)="eventEmitted($event)"
      tableClass="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3"
    >
      <ng-template let-row let-index="index">
        <td>
          <span class="text-gray-900 d-block">{{ index + 1 }}</span>
        </td>
        <td>
          <span class="text-gray-900 fw-bolder text-hover-primary fs-7">
            {{ row.resi_number }}
          </span>
        </td>
        <td>
          <span class="text-gray-900 d-block">
            {{ row.book_date | date : 'dd/MM/yyyy H:mm:ss a' : 'GMT' }}
          </span>
        </td>
        <td>
          @for (value of row.waybills; track value) {
          <span class="text-gray-900 d-block">
            <ul>
              <li>
                {{ value?.name }} <br />
                {{ value?.address }}
              </li>
            </ul>
          </span>
          }
        </td>
        <td>
          @for (value of row.destinations; track value) {
          <span class="text-gray-900 d-block">
            <ul>
              <li>
                {{ value?.name }} <br />
                {{ value?.address }}
              </li>
            </ul>
          </span>
          }
        </td>
        <td>
          <span class="text-gray-900 d-block">
            {{ row.status }}
          </span>
        </td>
        <td>
          <span class="text-gray-900 d-block">
            {{ row.position }}
          </span>
        </td>
        <td>
          <span class="text-gray-900 d-block">
            {{ row.createdAt | date : 'dd/MM/yyyy H:mm:ss a' }}
          </span>
        </td>
        <td class="text-end">
          @if (currentTab === 'Malang' && levelrule === 2 && city_id === 1 || currentTab === 'Malang' && levelrule ===
          8) {
          <a
            class="btn btn-icon btn-light btn-hover-primary btn-sm cursor-pointer"
            data-bs-toggle="tooltip"
            data-bs-trigger="hover"
            data-bs-dismiss-="click"
            data-bs-placement="top"
            ngbTooltip="Remove Passenger"
            (click)="removeDriverSPPassenger(row)"
          >
            <app-keenicon name="minus" class="fs-md-3 text-danger"></app-keenicon>
          </a>
          } @if (currentTab === 'Surabaya' && levelrule === 2 && city_id === 2 || currentTab === 'Surabaya' && levelrule
          === 8) {
          <a
            class="btn btn-icon btn-light btn-hover-primary btn-sm cursor-pointer"
            data-bs-toggle="tooltip"
            data-bs-trigger="hover"
            data-bs-dismiss-="click"
            data-bs-placement="top"
            ngbTooltip="Remove Passenger"
            (click)="removeDriverSPPassenger(row)"
          >
            <app-keenicon name="minus" class="fs-md-3 text-danger"></app-keenicon>
          </a>
          }
        </td>
      </ng-template>
    </ngx-table>
    <!-- end::Table -->
  </div>
  <!-- end::Table container -->

  <div class="mt-10">
    <div class="m-0">
      <div class="card-header border-0" style="display: flex; justify-content: space-between">
        <div class="card-toolbar">
          <div class="col">
            <!-- begin::Menu -->
            <div class="menu-item">
              <div class="menu-content px-0">
                <h3 class="card-title align-items-start flex-column">
                  <span class="card-label fw-bolder fs-3 mb-1"> List Package </span>
                </h3>
              </div>
            </div>
            <!-- end::Menu -->
          </div>
        </div>
        <div class="card-toolbar">
          <div class="col text-end">
            <!-- begin::Menu -->
            <div class="menu-item px-3">
              <div class="menu-content px-2 py-1">
                <a
                  class="btn btn-primary btn-hover-primary btn-sm cursor-pointer p-1 px-3 fs-7"
                  data-bs-toggle="tooltip"
                  data-bs-trigger="hover"
                  data-bs-dismiss-="click"
                  data-bs-placement="top"
                  title="Cetak Paket"
                  (click)="printSP(dataDetailPackages, 'Package')"
                >
                  Cetak Paket
                </a>
              </div>
            </div>
            <!-- end::Menu -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- begin::Table container -->
  <div class="table-responsive full-width">
    <!-- begin::Table -->
    <ngx-table
      #table
      [configuration]="configurationDetail"
      [data]="dataDetailPackages"
      [columns]="columnsPackage"
      (event)="eventEmitted($event)"
      tableClass="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3"
    >
      <ng-template let-row let-index="index">
        <td>
          <span class="text-gray-900 d-block">{{ index + 1 }}</span>
        </td>
        <td>
          <span class="text-gray-900 fw-bolder text-hover-primary fs-7">
            {{ row.resi_number }}
          </span>
        </td>
        <td>
          <span class="text-gray-900 d-block">
            @if (row.level === 'Normal') {
            <span class="badge badge-light-primary">Normal</span>
            } @else {
            <span class="badge badge-light-danger">Urgent</span>
            }
          </span>
        </td>
        <td>
          <span class="text-gray-900 d-block">
            {{ row.book_date | date : 'dd/MM/yyyy H:mm:ss a' : 'GMT' }}
          </span>
        </td>
        <td>
          <span class="text-gray-900 d-block">
            {{ row.sender?.name }}
          </span>
        </td>
        <td>
          <span class="text-gray-900 d-block">
            {{ row.recipient?.name }}<br />
            {{ row.recipient?.address }}
          </span>
        </td>
        <td>
          <span class="text-gray-900 d-block">
            {{ row.origin_from }}
          </span>
        </td>
        <td>
          <span class="text-gray-900 d-block">
            {{ row.createdAt | date : 'dd/MM/yyyy H:mm:ss a' }}
          </span>
        </td>
        <td class="text-end">
          @if (currentTab === 'Malang' && levelrule === 2 && city_id === 1 || currentTab === 'Malang' && levelrule ===
          8) {
          <a
            class="btn btn-icon btn-light btn-hover-primary btn-sm cursor-pointer"
            data-bs-toggle="tooltip"
            data-bs-trigger="hover"
            data-bs-dismiss-="click"
            data-bs-placement="top"
            ngbTooltip="Remove Package"
            (click)="removeDriverSPPackage(row)"
          >
            <app-keenicon name="minus" class="fs-md-3 text-danger"></app-keenicon>
          </a>
          } @if (currentTab === 'Surabaya' && levelrule === 2 && city_id === 2 || currentTab === 'Surabaya' && levelrule
          === 8) {
          <a
            class="btn btn-icon btn-light btn-hover-primary btn-sm cursor-pointer"
            data-bs-toggle="tooltip"
            data-bs-trigger="hover"
            data-bs-dismiss-="click"
            data-bs-placement="top"
            ngbTooltip="Remove Package"
            (click)="removeDriverSPPackage(row)"
          >
            <app-keenicon name="minus" class="fs-md-3 text-danger"></app-keenicon>
          </a>
          }
        </td>
      </ng-template>
    </ngx-table>
    <!-- end::Table -->
  </div>
  <!-- end::Table container -->
</app-modal-full>
<!-- Note: Don't forget import ModalsModule (from _metronic/partials) into your module -->
<!-- end:: Modal detail print sp -->

<!-- begin:: Modal generate SP Package-->
<app-modal-full #modalGeneratePackageSP [modalConfig]="modalConfigGenerateSP" [modalClass]="addClass">
  @if (isDeliveryPackage) {
  <app-package [delivery]="dataDelivery" [setCity]="setCity" (isAssignSP)="handleEventAssign($event)"></app-package>
  }
</app-modal-full>
<!-- Note: Don't forget import ModalsModule (from _metronic/partials) into your module -->
<!-- end:: Modal generate sp package -->

<!-- begin:: Modal generate SP Passenger -->
<app-modal-full #modalGeneratePassengerSP [modalConfig]="modalConfigGenerateSP" [modalClass]="addClass">
  @if (isDeliveryPassenger) {
  <app-passenger [delivery]="dataDelivery" [setCity]="setCity" (isAssignSP)="handleEventAssign($event)"></app-passenger>
  }
</app-modal-full>
<!-- Note: Don't forget import ModalsModule (from _metronic/partials) into your module -->
<!-- end:: Modal generate sp passenger -->
