/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

.snackbar-error {
  margin: 0 !important;
  position: fixed;
  right: 0;
  left: 0;
  top: 20px;
  z-index: 9999;

  .mdc-snackbar__surface {
    background-color: red !important;
  }

  .mdc-snackbar__label {
    color: white !important;
  }
}

.snackbar-success {
  margin: 0 !important;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 20px;
  z-index: 9999;

  .mdc-snackbar__surface {
    background-color: green !important;
  }

  .mdc-snackbar__label {
    color: white !important;
  }
}

.small-table {
  width: 100%;

  .ngx-table {
    width: 100%;

    thead {
      font-size: 13px;
    }
    tbody {
      font-size: 12px;
    }
  }
}

.ngx-table {
  font-family: inherit !important;
}

tr:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.modal-header {
  .btn {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

// .full-vh {
//   width: 100vh !important;
// }

.full-width {
  width: 100% !important;
}

.modal-clean {
  padding: 0 !important;

  h2 {
    display: none;
  }

  .modal-header,
  .modal-body {
    padding: 0 !important;

    .card {
      border: none;
      box-shadow: none;
    }
  }

  .modal-footer {
    display: none;
  }
}

// table {
//   thead,
//   tbody {
//     width: 100%;
//     display: table;
//   }
// }

.hide-datepicker {
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
}

.numbering {
  list-style-type: decimal;
}
