<!--begin::Menu wrapper-->
<div
  id="kt_app_sidebar_menu_scroll"
  class="scroll-y my-5 mx-3"
  data-kt-scroll="true"
  data-kt-scroll-activate="true"
  data-kt-scroll-height="auto"
  data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
  data-kt-scroll-wrappers="#kt_app_sidebar_menu"
  data-kt-scroll-offset="5px"
  data-kt-scroll-save-state="true"
>
  <!--begin::Menu-->
  <div
    class="menu menu-column menu-rounded menu-sub-indention fw-semibold fs-6"
    id="#kt_app_sidebar_menu"
    data-kt-menu="true"
    data-kt-menu-expand="false"
  >
    <!-- Dashboard -->
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/home" routerLinkActive="active">
        <span class="menu-icon">
          <app-keenicon name="element-11" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" translate="MENU.DASHBOARD"></span>
      </a>
    </div>

    <!-- Layout builder -->
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/builder" routerLinkActive="active">
        <span class="menu-icon">
          <app-keenicon name="switch" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" translate>Layout Builder</span>
      </a>
    </div>

    @if (levelrule === 8 || levelrule === 2 || levelrule === 3) {
    <!-- Separator -->
    <div class="menu-item">
      <div class="menu-content pt-8 pb-2">
        <span class="menu-section text-muted text-uppercase fs-8 ls-1" translate>Booking</span>
      </div>
    </div>

    <!-- Package -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="/package/transaction">
        <span class="menu-icon">
          <app-keenicon name="package" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" data-link="/package" translate>Package </span>
        <!-- <span class="menu-arrow"></span> -->
      </a>
      <!-- <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
          <div class="menu-item menu-accordion" routerLinkActive="here show" data-kt-menu-trigger="click">
            <span class="menu-link">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title" data-link="/crafted/pages/profile">Malang </span>
              <span class="menu-arrow"></span>
            </span>
            <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
              <div class="menu-item">
                <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/pages/profile/overview">
                  <span class="menu-bullet">
                    <span class="bullet bullet-dot"></span>
                  </span>
                  <span class="menu-title">Transaction</span>
                </a>
              </div>
              <div class="menu-item">
                <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/pages/profile/projects">
                  <span class="menu-bullet">
                    <span class="bullet bullet-dot"></span>
                  </span>
                  <span class="menu-title">List</span>
                </a>
              </div>
              <div class="menu-item">
                <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/pages/profile/campaigns">
                  <span class="menu-bullet">
                    <span class="bullet bullet-dot"></span>
                  </span>
                  <span class="menu-title">Move</span>
                </a>
              </div>
              <div class="menu-item">
                <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/pages/profile/documents">
                  <span class="menu-bullet">
                    <span class="bullet bullet-dot"></span>
                  </span>
                  <span class="menu-title">Cancel</span>
                </a>
              </div>
              <div class="menu-item">
                <a
                  class="menu-link without-sub"
                  routerLinkActive="active"
                  routerLink="/crafted/pages/profile/connections"
                >
                  <span class="menu-bullet">
                    <span class="bullet bullet-dot"></span>
                  </span>
                  <span class="menu-title">History</span>
                </a>
              </div>
            </div>
          </div>
        </div> -->
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <!-- <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/package/transaction">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title" translate>Transaction </span>
          </a>
        </div> -->
        <!-- <div class="menu-item">
            <a class="menu-link without-sub" routerLinkActive="active" routerLink="/package/delivery">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">List Delivery</span>
            </a>
          </div> -->
        <!-- <div class="menu-item">
            <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/account/settings">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Move </span>
            </a>
          </div>
          <div class="menu-item">
            <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/account/settings">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Cancel </span>
            </a>
          </div>
          <div class="menu-item">
            <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/account/settings">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">History </span>
            </a>
          </div> -->
      </div>
    </div>

    <!-- Passenger -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="/passenger/transaction">
        <span class="menu-icon">
          <app-keenicon name="people" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" data-link="/passenger" translate>Passenger</span>
        <!-- <span class="menu-arrow"></span> -->
      </a>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <!-- <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/passenger/transaction">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title" translate>Transaction </span>
          </a>
        </div> -->
        <!-- <div class="menu-item">
            <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/account/settings">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">List </span>
            </a>
          </div>
          <div class="menu-item">
            <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/account/settings">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Move </span>
            </a>
          </div>
          <div class="menu-item">
            <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/account/settings">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Cancel </span>
            </a>
          </div>
          <div class="menu-item">
            <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/account/settings">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">History </span>
            </a>
          </div> -->
      </div>
    </div>

    <!-- Departure -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="/departure/delivery">
        <span class="menu-icon">
          <app-keenicon name="delivery" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" data-link="/departure" translate>Departure </span>
        <!-- <span class="menu-arrow"></span> -->
      </a>
      <!-- <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/departure/delivery">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title" translate>Schedule Delivery </span>
          </a>
        </div>
      </div> -->
    </div>

    @if (levelrule === 8 && username === 'admin_11') {
    <!-- Separator -->
    <div class="menu-item">
      <div class="menu-content pt-8 pb-2">
        <span class="menu-section text-muted text-uppercase fs-8 ls-1" translate>Monitoring</span>
      </div>
    </div>

    <!-- Monitoring History Package -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="monitoring/package">
        <span class="menu-icon">
          <app-keenicon name="monitor-mobile" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" data-link="/monitoring/package" translate> History Package </span>
        <!-- <span class="menu-arrow"></span> -->
      </a>
      <!-- <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/finance/bsd/tirta-jaya">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title" translate>BSD Tirta Jaya </span>
          </a>
        </div>
      </div> -->
    </div>

    <!-- Monitoring History Penumpang -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="monitoring/passenger">
        <span class="menu-icon">
          <app-keenicon name="monitor-mobile" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" data-link="/monitoring/history/passenger" translate> History Passenger </span>
        <!-- <span class="menu-arrow"></span> -->
      </a>
      <!-- <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/finance/bsd/tirta-jaya">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title" translate>BSD Tirta Jaya </span>
          </a>
        </div>
      </div> -->
    </div>
    }

    <!-- Monitoring History Penumpang -->
    <!-- <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="monitoring/passenger">
        <span class="menu-icon">
          <app-keenicon name="monitor-mobile" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" data-link="/monitoring/passenger" translate> History Passenger </span> -->
    <!-- <span class="menu-arrow"></span> -->
    <!-- </a> -->
    <!-- <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/finance/bsd/tirta-jaya">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title" translate>BSD Tirta Jaya </span>
          </a>
        </div>
      </div> -->
    <!-- </div> -->

    @if (levelrule === 2) {
    <!-- Separator -->
    <div class="menu-item">
      <div class="menu-content pt-8 pb-2">
        <span class="menu-section text-muted text-uppercase fs-8 ls-1" translate>Monitoring</span>
      </div>
    </div>

    <!-- Monitoring Package -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="monitoring/package">
        <span class="menu-icon">
          <app-keenicon name="monitor-mobile" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" data-link="/monitoring/history/package" translate> History Package </span>
        <!-- <span class="menu-arrow"></span> -->
      </a>
      <!-- <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
          <div class="menu-item">
            <a class="menu-link without-sub" routerLinkActive="active" routerLink="/finance/bsd/tirta-jaya">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title" translate>BSD Tirta Jaya </span>
            </a>
          </div>
        </div> -->
    </div>

    <!-- Monitoring History Penumpang -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="monitoring/passenger">
        <span class="menu-icon">
          <app-keenicon name="monitor-mobile" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" data-link="/monitoring/history/passenger" translate> History Passenger </span>
        <!-- <span class="menu-arrow"></span> -->
      </a>
      <!-- <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
          <div class="menu-item">
            <a class="menu-link without-sub" routerLinkActive="active" routerLink="/finance/bsd/tirta-jaya">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title" translate>BSD Tirta Jaya </span>
            </a>
          </div>
        </div> -->
    </div>

    @if (levelrule === 2 && city_id === 1) {
    <!-- Monitoring -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="finance/commission/package">
        <span class="menu-icon">
          <app-keenicon name="monitor-mobile" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" data-link="/finance/commission" translate> Commission & Piutang </span>
        <!-- <span class="menu-arrow"></span> -->
      </a>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <!-- Commission -->
        <!-- <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
              <span class="menu-link">
                <span class="menu-icon">
                  <app-keenicon name="diamonds" class="fs-2"></app-keenicon>
                </span>
                <span class="menu-title" data-link="/finance/commission" translate> Commission </span>
                <span class="menu-arrow"></span>
              </span>
              <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
                <div class="menu-item">
                  <a class="menu-link without-sub" routerLinkActive="active" routerLink="finance/commission/package">
                    <span class="menu-bullet">
                      <span class="bullet bullet-dot"></span>
                    </span>
                    <span class="menu-title" translate>Package </span>
                  </a>
                </div>
                <div class="menu-item">
                  <a class="menu-link without-sub" routerLinkActive="active" routerLink="finance/commission/monthly">
                    <span class="menu-bullet">
                      <span class="bullet bullet-dot"></span>
                    </span>
                    <span class="menu-title" translate>Courier Commission </span>
                  </a>
                </div>
              </div>
            </div> -->

        <!-- Bill -->
        <!-- <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
              <span class="menu-link">
                <span class="menu-icon">
                  <app-keenicon name="bill" class="fs-2"></app-keenicon>
                </span>
                <span class="menu-title" data-link="/finance/bill"> Piutang </span>
                <span class="menu-arrow"></span>
              </span>
              <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
                <div class="menu-item">
                  <a class="menu-link without-sub" routerLinkActive="active" routerLink="finance/piutang/bill">
                    <span class="menu-bullet">
                      <span class="bullet bullet-dot"></span>
                    </span>
                    <span class="menu-title">Bill </span>
                  </a>
                </div>
              </div>
            </div> -->
      </div>
    </div>
    } } @if ( levelrule === 8 || levelrule === 3 || (levelrule === 2 && city_id === 2) ) {
    <!-- Separator -->
    <div class="menu-item">
      <div class="menu-content pt-8 pb-2">
        <span class="menu-section text-muted text-uppercase fs-8 ls-1" translate>Finance</span>
      </div>
    </div>

    @if (levelrule === 8 || levelrule === 3) {
    <!-- BSD -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="/finance/bsd/tirta-jaya">
        <span class="menu-icon">
          <app-keenicon name="finance-calculator" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" data-link="/finance/bsd" translate>BSD Tirta Jaya</span>
        <!-- <span class="menu-arrow"></span> -->
      </a>
      <!-- <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
          <div class="menu-item">
            <a class="menu-link without-sub" routerLinkActive="active" routerLink="/finance/bsd/tirta-jaya">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title" translate>BSD Tirta Jaya </span>
            </a>
          </div>
        </div> -->
    </div>
    }

    <!-- Monitoring -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="finance/commission/package">
        <span class="menu-icon">
          <app-keenicon name="monitor-mobile" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" data-link="/finance/commission" translate> Monitoring </span>
        <!-- <span class="menu-arrow"></span> -->
      </a>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <!-- Commission -->
        <!-- <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
          <span class="menu-link">
            <span class="menu-icon">
              <app-keenicon name="diamonds" class="fs-2"></app-keenicon>
            </span>
            <span class="menu-title" data-link="/finance/commission" translate> Commission </span>
            <span class="menu-arrow"></span>
          </span>
          <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
            <div class="menu-item">
              <a class="menu-link without-sub" routerLinkActive="active" routerLink="finance/commission/package">
                <span class="menu-bullet">
                  <span class="bullet bullet-dot"></span>
                </span>
                <span class="menu-title" translate>Package </span>
              </a>
            </div>
            <div class="menu-item">
              <a class="menu-link without-sub" routerLinkActive="active" routerLink="finance/commission/monthly">
                <span class="menu-bullet">
                  <span class="bullet bullet-dot"></span>
                </span>
                <span class="menu-title" translate>Courier Commission </span>
              </a>
            </div>
          </div>
        </div> -->

        <!-- Bill -->
        <!-- <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
          <span class="menu-link">
            <span class="menu-icon">
              <app-keenicon name="bill" class="fs-2"></app-keenicon>
            </span>
            <span class="menu-title" data-link="/finance/bill"> Piutang </span>
            <span class="menu-arrow"></span>
          </span>
          <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
            <div class="menu-item">
              <a class="menu-link without-sub" routerLinkActive="active" routerLink="finance/piutang/bill">
                <span class="menu-bullet">
                  <span class="bullet bullet-dot"></span>
                </span>
                <span class="menu-title">Bill </span>
              </a>
            </div>
          </div>
        </div> -->
      </div>
    </div>

    <!-- Daily Deposit -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="/finance/deposit/daily">
        <span class="menu-icon">
          <app-keenicon name="save-deposit" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" data-link="/finance/deposit" translate> Deposit </span>
        <!-- <span class="menu-arrow"></span> -->
      </a>
      <!-- <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/finance/deposit/daily">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title" translate>Daily </span>
          </a>
        </div>
      </div> -->
    </div>

    <!-- Cash Out -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="/finance/cash-out/list">
        <span class="menu-icon">
          <app-keenicon name="finance-calculator" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" data-link="/finance/cash-out" translate> Cash Out </span>
        <!-- <span class="menu-arrow"></span> -->
      </a>
      <!-- <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/finance/cash-out/list">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title" translate>List </span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/finance/cash-out/recapitulation">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title" translate>Recapitulation </span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/finance/cash-out/spareparts">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title" translate>Spareparts </span>
          </a>
        </div>
      </div> -->
    </div>

    @if (levelrule === 8 || levelrule === 3) {
    <!-- Recapitulation -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="/finance/recapitulation-finance/deposit">
        <span class="menu-icon">
          <app-keenicon name="finance-calculator" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" data-link="/finance/recapitulation-finance" translate>Recapitulation Finance </span>
        <!-- <span class="menu-arrow"></span> -->
      </a>
      <!-- <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a
            class="menu-link without-sub"
            routerLinkActive="active"
            routerLink="/finance/recapitulation-finance/deposit"
          >
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title" translate>Deposit </span>
          </a>
        </div>
      </div> -->
    </div>
    }

    <!-- Cash -->
    <!-- <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
        <span class="menu-link">
          <span class="menu-icon">
            <app-keenicon name="finance-calculator" class="fs-2"></app-keenicon>
          </span>
          <span class="menu-title" data-link="/finance/cash"> Cash (Zen) </span>
          <span class="menu-arrow"></span>
        </span>
        <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
          <div class="menu-item">
            <a class="menu-link without-sub" routerLinkActive="active" routerLink="/finance/cash/cashier-deposit">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Cashier Deposit </span>
            </a>
          </div>
          <div class="menu-item">
            <a class="menu-link without-sub" routerLinkActive="active" routerLink="/finance/cash/paid">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Paid Off</span>
            </a>
          </div>
        </div>
      </div> -->

    @if (levelrule === 8 && username === 'admin_11' || city_id === 1) {
    <!-- Separator -->
    <div class="menu-item">
      <div class="menu-content pt-8 pb-2">
        <span class="menu-section text-muted text-uppercase fs-8 ls-1" translate>Garage</span>
      </div>
    </div>

    <!-- Garage -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="car" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" data-link="/garage" translate>Garage </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/garage/vendor">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title" translate>Vendor </span>
          </a>
        </div>
      </div>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/garage/schedule">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title" translate>Schedule </span>
          </a>
        </div>
      </div>
      <!-- <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
                <div class="menu-item">
                  <a class="menu-link without-sub" routerLinkActive="active" routerLink="/garage/history">
                    <span class="menu-bullet">
                      <span class="bullet bullet-dot"></span>
                    </span>
                    <span class="menu-title">History </span>
                  </a>
                </div>
              </div> -->
    </div>
    } }

    <!-- Separator -->
    <div class="menu-item">
      <div class="menu-content pt-8 pb-2">
        <span class="menu-section text-muted text-uppercase fs-8 ls-1" translate>Apps</span>
      </div>
    </div>

    <!-- Chat -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="message-text-2" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" data-link="/apps/chat" translate>Chat </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/apps/chat/private-chat">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title" translate>Private Chat </span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/apps/chat/group-chat">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title" translate>Group Chat </span>
          </a>
        </div>
      </div>
    </div>

    <!-- User Management -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="profile-user" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" data-link="/management" translate>User Management </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/management/users">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title" translate>Users </span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/management/users">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title" translate>Roles </span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/management/users">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title" translate>Permissions </span>
          </a>
        </div>
      </div>
    </div>

    <!-- Master -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="data" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" data-link="/master" translate>Master </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/master/category">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title" translate>Category </span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/master/sub-category">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title" translate>Sub Category </span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/master/customer">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title" translate>Customer </span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/master/employee">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title" translate>Employee </span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/master/car">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title" translate>Car </span>
          </a>
        </div>
      </div>
    </div>

    <!-- Mutation -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="wallet" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" data-link="/mutation" translate>Mutation </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/management/users">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title" translate>BCA </span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/management/users">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title" translate>Mandiri </span>
          </a>
        </div>
      </div>
    </div>
    } @if (levelrule === 6) {
    <!-- Separator -->
    <div class="menu-item">
      <div class="menu-content pt-8 pb-2">
        <span class="menu-section text-muted text-uppercase fs-8 ls-1">Garage</span>
      </div>
    </div>

    <!-- Garage -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="car" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" data-link="/garage">Garage </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/garage/schedule">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Schedule </span>
          </a>
        </div>
      </div>
      <!-- <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
          <div class="menu-item">
            <a class="menu-link without-sub" routerLinkActive="active" routerLink="/garage/history">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">History </span>
            </a>
          </div>
        </div> -->
    </div>

    <!-- Separator -->
    <div class="menu-item">
      <div class="menu-content pt-8 pb-2">
        <span class="menu-section text-muted text-uppercase fs-8 ls-1">Apps</span>
      </div>
    </div>

    <!-- Master -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="data" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" data-link="/master">Master </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/master/car">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Car </span>
          </a>
        </div>
      </div>
    </div>
    } @if (levelrule === 5) {
    <!-- Separator -->
    <div class="menu-item">
      <div class="menu-content pt-8 pb-2">
        <span class="menu-section text-muted text-uppercase fs-8 ls-1" translate>Delivery</span>
      </div>
    </div>

    <!-- Monitoring -->
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/finance/commission/package" routerLinkActive="active">
        <span class="menu-icon">
          <app-keenicon name="switch" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" translate>Monitoring</span>
      </a>
    </div>

    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="finance/commission/monthly" routerLinkActive="active">
        <span class="menu-icon">
          <app-keenicon name="monitor-mobile" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" translate>Courier Commission </span>
      </a>
    </div>
    }
  </div>
  <!--end::Menu-->
</div>
<!--end::Menu wrapper-->
