<!-- begin::Header -->
<div class="card">
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">
        <ng-container [ngSwitch]="currentTab">
          <ng-container *ngSwitchCase="'Surabaya'">
            {{ 'Commission Table Malang' | translate : { title: 'Malang' } }}
          </ng-container>
          <ng-container *ngSwitchCase="'Malang'">
            {{ 'Commission Table Surabaya' | translate : { title: 'Surabaya' } }}
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{ 'PACKAGE.NO_DATA' | translate }}
          </ng-container>
        </ng-container>
      </span>
      <span class="text-muted mt-1 fw-bold fs-7">
        {{ 'PACKAGE.LENGTH' | translate : { dataLength: dataLength | number } }}
      </span>
    </h3>
    @if (levelrule === 8) {
    <div class="card-toolbar">
      <ul class="nav nav-pills nav-pills-sm nav-dark-75">
        <li class="nav-item" (click)="setCurrentTab('Malang')" [style.cursor]="'pointer'">
          <a class="nav-link py-2 px-4" [class.active]="currentTab === 'Malang'" data-toggle="tab">Malang</a>
        </li>
        <li class="nav-item" (click)="setCurrentTab('Surabaya')" [style.cursor]="'pointer'">
          <a class="nav-link py-2 px-4" [class.active]="currentTab === 'Surabaya'" data-toggle="tab">Surabaya</a>
        </li>
      </ul>
    </div>
    }
    <div class="card-toolbar">
      <!-- begin::Menu -->
      <div class="menu-item">
        <div class="menu-content">
          <input
            id="select-customer"
            type="text"
            class="form-control p-2"
            [(ngModel)]="modelDriver"
            [ngbTypeahead]="searchDataDriver"
            placeholder="Search Resi..."
          />
        </div>
      </div>
      <div class="menu-item">
        <div class="menu-content px-0">
          <div class="btn btn-info btn-sm py-2 px-4 cursor-pointer" (click)="datepicker.toggle()">Filter Date</div>
        </div>
      </div>
      <!-- end::Menu -->

      <div class="col text-end">
        <div class="dp-hidden position-absolute">
          <div class="input-group">
            <input
              name="datepicker"
              class="form-control hide-datepicker"
              ngbDatepicker
              #datepicker="ngbDatepicker"
              [autoClose]="'outside'"
              (dateSelect)="onDateSelection($event, datepicker)"
              [displayMonths]="2"
              [dayTemplate]="t"
              outsideDays="hidden"
              [startDate]="fromDate!"
              [footerTemplate]="footerTemplate"
              tabindex="-1"
            />
            <ng-template #t let-date let-focused="focused">
              <span
                class="custom-day"
                [class.focused]="focused"
                [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)"
                (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null"
              >
                {{ date.day }}
              </span>
            </ng-template>
          </div>

          <ng-template #footerTemplate>
            <hr class="my-0" />
            <button class="btn btn-primary btn-sm m-2 p-1 px-4 float-start" (click)="resetFilterDate(datepicker)">
              Reset
            </button>

            <button
              class="btn btn-success btn-sm m-2 p-1 px-4 float-end"
              [disabled]="configuration.isLoading"
              (click)="printUser()"
              translate
            >
              Bulanan
            </button>

            <button
              class="btn btn-success btn-sm m-2 p-1 px-4 float-end"
              [disabled]="configuration.isLoading"
              (click)="printFilterDate(datepicker)"
              translate
            >
              Commission & BA
            </button>
            <!-- <button
              class="btn btn-primary btn-sm m-2 p-1 px-4 float-end"
              [disabled]="configuration.isLoading"
              (click)="printFilterBa(datepicker)"
              translate=""
            >
              Bayar Tujuan
            </button> -->
            <button
              class="btn btn-warning btn-sm m-2 p-1 px-4 float-end"
              [disabled]="configuration.isLoading"
              (click)="printFilterSelected(datepicker)"
            >
              Filter
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <div class="tab-content mt-5" id="tabPackage">
      <!--begin::Tap pane-->
      <div class="tab-pane fade" role="tabpanel" [ngClass]="{ 'active show': currentTab === 'Malang' }">
        <!-- begin::Table container -->
        <div class="table-responsive">
          <!-- begin::Table -->
          <ngx-table
            #table
            [configuration]="configuration"
            [data]="data"
            [columns]="columns"
            [pagination]="pagination"
            (event)="eventEmitted($event)"
            tableClass="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3"
          >
            <ng-template let-row let-index="index">
              <!-- <td>
                    <span class="text-gray-900 d-block">{{ row.category_sub_id }}</span>
                  </td> -->
              <td>
                <span class="text-gray-900 d-block">
                  {{ row.resi_number }}
                </span>
              </td>
              <td>
                <span class="text-gray-900 d-block">{{ row.cost | currency : 'Rp ' : 'symbol' : '1.0-2' }}</span>
              </td>
              <td>
                <span class="text-gray-900 d-block">{{
                  row.agent_commission | currency : 'Rp ' : 'symbol' : '1.0-2'
                }}</span>
              </td>
              <td>
                <span class="text-gray-900 d-block">
                  {{ row.sender?.name }} <br />
                  {{ row.sender?.address }}
                </span>
              </td>
              <td>
                <span class="text-gray-900 d-block">
                  {{ row.recipient?.name }} <br />
                  {{ row.recipient?.address }}
                </span>
              </td>
              <td>
                <span class="text-gray-900 d-block">
                  @if (row.recipient?.received_by) {
                  {{ row.recipient?.received_by }} <br />
                  {{ row.recipient?.received_date | date : 'dd/MM/yyyy' : 'GMT' }}
                  } @else {
                  <div
                    class="btn btn-primary btn-sm px-2 p-1 cursor-pointer d-flex"
                    (click)="openModalEdit(row)"
                    ngbTooltip="Receive By"
                  >
                    <app-keenicon name="send" class="p-1 text-light fs-7"></app-keenicon> Diterima
                  </div>
                  }
                </span>
              </td>
              <td>
                <span class="text-gray-900 d-block">{{ row.recipient?.courier }}</span>
              </td>
              <td>
                @if (row.check_sp) {
                <span>{{ row.check_date_sp | date : 'dd/MM/yyyy' : 'GMT' }} </span>
                } @else { @if (row.recipient?.received_by) { @if (levelrule === 8 || levelrule === 2 && city_id === 2) {
                <a
                  class="btn btn-icon btn-light btn-hover-primary btn-sm cursor-pointer"
                  data-bs-toggle="tooltip"
                  data-bs-trigger="hover"
                  data-bs-dismiss-="click"
                  data-bs-placement="top"
                  title="Edit"
                  (click)="openModalEditCommission(row)"
                  ngbTooltip="Check Commission"
                >
                  <app-keenicon name="dollar" class="fs-md-3 text-primary"></app-keenicon>
                </a>
                } } }
              </td>
              <td>
                <span class="text-gray-900 d-block">{{ row.status }}</span>
              </td>
              <td>
                @if (row.check_payment) {
                <span class="text-gray-900 d-block">{{ row.updated_by }}</span>
                }
              </td>
              <td class="text-end">
                <div class="d-block">
                  @if (row.recipient?.received_by) { @if (!row.check_payment && city_id === 2 || !row.check_payment &&
                  levelrule === 8) { @if (row.status === 'Bayar Tujuan (COD)') {
                  <a
                    class="btn btn-icon btn-light btn-hover-primary btn-sm cursor-pointer me-2"
                    data-bs-toggle="tooltip"
                    data-bs-trigger="hover"
                    data-bs-dismiss-="click"
                    data-bs-placement="top"
                    title="Edit"
                    (click)="openModalEditPayment(row)"
                    ngbTooltip="Check BA"
                  >
                    <app-keenicon name="wallet" class="fs-md-3 text-primary"></app-keenicon>
                  </a>
                  } }

                  <a
                    class="btn btn-icon btn-light btn-hover-primary btn-sm cursor-pointer"
                    data-bs-toggle="tooltip"
                    data-bs-trigger="hover"
                    data-bs-dismiss-="click"
                    data-bs-placement="top"
                    title="Edit"
                    (click)="openModalEdit(row)"
                    ngbTooltip="Edit Receive"
                  >
                    <app-keenicon name="pencil" class="fs-md-3 text-primary"></app-keenicon>
                  </a>
                  }
                </div>
              </td>
            </ng-template>
          </ngx-table>
          <!-- end::Table -->
        </div>
        <!-- end::Table container -->
      </div>
      <!--end::Tap pane-->

      <!--begin::Tap pane-->
      <div class="tab-pane fade" role="tabpanel" [ngClass]="{ 'active show': currentTab === 'Surabaya' }">
        <!-- begin::Table container -->
        <div class="table-responsive">
          <!-- begin::Table -->
          <ngx-table
            #table
            [configuration]="configuration"
            [data]="data"
            [columns]="columns"
            [pagination]="pagination"
            (event)="eventEmitted($event)"
            tableClass="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3"
          >
            <ng-template let-row let-index="index">
              <!-- <td>
                    <span class="text-gray-900 d-block">{{ row.category_sub_id }}</span>
                  </td> -->
              <td>
                <span class="text-gray-900 d-block">
                  {{ row.resi_number }}
                </span>
              </td>
              <td>
                <span class="text-gray-900 d-block">{{ row.cost | currency : 'Rp ' : 'symbol' : '1.0-2' }}</span>
              </td>
              <td>
                <span class="text-gray-900 d-block">{{
                  row.agent_commission | currency : 'Rp ' : 'symbol' : '1.0-2'
                }}</span>
              </td>
              <td>
                <span class="text-gray-900 d-block">
                  {{ row.sender?.name }} <br />
                  {{ row.sender?.address }}
                </span>
              </td>
              <td>
                <span class="text-gray-900 d-block">
                  {{ row.recipient?.name }} <br />
                  {{ row.recipient?.address }}
                </span>
              </td>
              <td>
                <span class="text-gray-900 d-block">
                  @if (row.recipient?.received_by) {
                  {{ row.recipient?.received_by }} <br />
                  {{ row.recipient?.received_date | date : 'dd/MM/yyyy' : 'GMT' }}
                  } @else {
                  <div
                    class="btn btn-primary btn-sm px-2 p-1 cursor-pointer d-flex"
                    (click)="openModalEdit(row)"
                    ngbTooltip="Receive By"
                  >
                    <app-keenicon name="send" class="p-1 text-light fs-7"></app-keenicon> Receive
                  </div>
                  }
                </span>
              </td>
              <td>
                <span class="text-gray-900 d-block">{{ row.recipient?.courier }}</span>
              </td>
              <td>
                @if (row.check_sp) {
                <span>{{ row.check_date_sp | date : 'dd/MM/yyyy' : 'GMT' }} </span>
                } @else { @if (row.recipient?.received_by) { @if (levelrule === 8 || levelrule === 2 && city_id === 1) {
                <a
                  class="btn btn-icon btn-light btn-hover-primary btn-sm cursor-pointer"
                  data-bs-toggle="tooltip"
                  data-bs-trigger="hover"
                  data-bs-dismiss-="click"
                  data-bs-placement="top"
                  title="Edit"
                  (click)="openModalEditCommission(row)"
                  ngbTooltip="Check Commission"
                >
                  <app-keenicon name="dollar" class="fs-md-3 text-primary"></app-keenicon>
                </a>
                } } }
              </td>
              <td>
                <span class="text-gray-900 d-block">{{ row.status }}</span>
              </td>
              <td>
                @if (row.check_payment) {
                <span class="text-gray-900 d-flex">{{ row.updated_by }}</span>
                }
              </td>
              <td class="text-end">
                <div class="d-flex">
                  @if (row.recipient?.received_by) { @if (!row.check_payment && city_id === 1 || !row.check_payment &&
                  levelrule === 8) { @if (row.status === 'Bayar Tujuan (COD)') {
                  <a
                    class="btn btn-icon btn-light btn-hover-primary btn-sm cursor-pointer me-2"
                    data-bs-toggle="tooltip"
                    data-bs-trigger="hover"
                    data-bs-dismiss-="click"
                    data-bs-placement="top"
                    title="Edit"
                    (click)="openModalEditPayment(row)"
                    ngbTooltip="Check BA"
                  >
                    <app-keenicon name="wallet" class="fs-md-3 text-primary"></app-keenicon>
                  </a>
                  } }

                  <a
                    class="btn btn-icon btn-light btn-hover-primary btn-sm cursor-pointer"
                    data-bs-toggle="tooltip"
                    data-bs-trigger="hover"
                    data-bs-dismiss-="click"
                    data-bs-placement="top"
                    title="Edit"
                    (click)="openModalEdit(row)"
                    ngbTooltip="Edit Receive"
                  >
                    <app-keenicon name="pencil" class="fs-md-3 text-primary"></app-keenicon>
                  </a>
                  }
                </div>
              </td>
            </ng-template>
          </ngx-table>
          <!-- end::Table -->
        </div>
        <!-- end::Table container -->
      </div>
      <!--end::Tap pane-->
    </div>
  </div>
</div>
<!-- begin::Body -->

<!-- begin:: Modal Commission -->
<app-modal #modal [modalConfig]="modalConfigEdit">
  <form (ngSubmit)="dataEdit()" [formGroup]="formRecipient" novalidate>
    <div class="m-3">
      <label class="d-block mb-4">
        <input
          type="text"
          class="form-control"
          formControlName="received_by"
          name="received_by"
          autocomplete="received_by"
          [placeholder]="'Received By' | translate"
        />
        <span hidden translate>Received By</span>
      </label>
      <label class="d-block mb-4">
        <div class="input-group">
          <input
            class="form-control p-1 px-4"
            placeholder="Select date"
            name="dp"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="receivedDate"
            ngbDatepicker
            #datePicker="ngbDatepicker"
            (ngModelChange)="onDateChange($event)"
            [readonly]="true"
          />
          <a class="btn btn-info btn-sm p-2 px-4 cursor-pointer" (click)="datePicker.toggle()"> Receive Date </a>
        </div>
      </label>
      <label class="d-block mb-4">
        <input
          id="select-employee"
          type="text"
          class="form-control"
          [class.is-invalid]="searchFailedEmployee"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="modelEmployee"
          [ngbTypeahead]="searchDataEmployee"
          [resultTemplate]="rt"
          [inputFormatter]="formatter"
          placeholder="Courier search"
        />
        <ng-template #rt let-r="result" let-t="term">
          {{ r.name }}
        </ng-template>

        @if (searchingEmployee) {
        <small class="form-text text-muted">Searching. Please wait...</small>
        } @if (searchFailedEmployee) {
        <div class="invalid-feedback">Sorry, suggestions could not be loaded.</div>
        }
      </label>
    </div>

    <div>
      <button class="btn btn-primary w-100" type="submit" [disabled]="formRecipient.invalid || isLoading">
        <!--begin::Spinner-->
        <span
          class="translate-middle-y lh-0 me-1"
          data-kt-search-element="spinner"
          [ngClass]="isLoading ? '' : 'd-none'"
        >
          <span class="spinner-border h-15px w-15px align-middle text-gray-500"></span>
        </span>
        <!--end::Spinner-->
        <span translate>Submit</span>
      </button>
    </div>
  </form>
</app-modal>
<!-- Note: Don't forget import ModalsModule (from _metronic/partials) into your module -->
<!-- end:: Modal Commission -->

<!-- begin:: Modal Print Monthly -->
<app-modal #modalPrintUser [modalConfig]="modalConfigPrintUser">
  <div class="m-3">
    <label class="d-block mb-4">
      <input
        id="select-customer"
        type="text"
        class="form-control"
        [class.is-invalid]="searchPrintFailed"
        [(ngModel)]="modelCustomer"
        [ngbTypeahead]="searchDataCustomer"
        [resultTemplate]="rtp"
        [inputFormatter]="formatterCustomer"
        #printInput
        (selectItem)="onPrintSelect($event, printInput)"
        #instance="ngbTypeahead"
        placeholder="Customer search"
      />
      <ng-template #rtp let-r="result" let-t="term"> {{ r.name }} - {{ r.address }} - {{ r.telp }} </ng-template>

      @if (searchingPrint) {
      <small class="form-text text-muted">Searching. Please wait...</small>
      } @if (searchPrintFailed) {
      <div class="invalid-feedback">Sorry, suggestions could not be loaded.</div>
      }
    </label>
  </div>
  <div class="mt-10">
    <button
      class="btn btn-primary w-100"
      (click)="printFilterMonthly()"
      [disabled]="isLoadingPrint || searchingPrint || searchPrintFailed"
    >
      <!--begin::Spinner-->
      <span
        class="translate-middle-y lh-0 me-1"
        data-kt-search-element="spinner"
        [ngClass]="searchingPrint ? '' : 'd-none'"
      >
        <span class="spinner-border h-15px w-15px align-middle text-gray-500"></span>
      </span>
      <!--end::Spinner-->
      <span translate>Cetak Bulanan</span>
    </button>
  </div>
</app-modal>
<!-- Note: Don't forget import ModalsModule (from _metronic/partials) into your module -->
<!-- end:: Modal Print Resi -->
