<div class="p-10">
  <span class="small"
    >{{ detail?.updated_by ? detail?.updated_by : detail?.created_by }},
    {{ nowDate | date : 'EEEE yyyy/MM/dd H:mm:ss a' }}</span
  >
  @if (type ==='Passenger') {
  <div class="m-0">
    <div class="card-header border-0">
      <div class="card-toolbar">
        <div class="col">
          <!-- begin::Menu -->
          <div class="menu-item">
            <div class="menu-content px-0 mb-3">
              <h1 class="card-title text-center">
                <span class="card-label fw-bolder fs-2 mb-1">
                  @if (detail?.city_id === 1) { SURAT PENGANTAR PENUMPANG MALANG } @else { SURAT PENGANTAR PENUMPANG
                  SURABAYA }
                </span>
              </h1>
            </div>
          </div>
          <!-- end::Menu -->
        </div>
      </div>
      <div class="card-toolbar">
        <div class="row">
          <!-- begin::Menu -->
          <div class="col-md-4">
            <div class="menu-content px-3">
              <span
                ><b>{{ detail?.employee?.name }} | {{ detail?.car?.car_number }}</b></span
              >
            </div>
          </div>
          <div class="col-md-4">
            <div class="menu-content px-3 text-center">
              <span><b>Send Date</b>: {{ detail?.send_date | date : 'yyyy/MM/dd H:mm:ss a' : 'GMT' }}</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="menu-content px-3 text-end">
              <h4>
                <b>{{ detail?.sp_passenger }}</b>
              </h4>
            </div>
          </div>
          <!-- end::Menu -->
        </div>
      </div>
    </div>
    <!-- end::Header -->
    <!-- begin::Body -->
    <div class="card-body py-3">
      <!-- begin::Table container -->
      <div class="table-responsive">
        <!-- begin::Table -->
        <ngx-table
          #table
          [configuration]="configuration"
          [data]="data"
          [columns]="columnsPassenger"
          tableClass="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3"
        >
          <ng-template let-row let-index="index">
            <!-- <td>
                <span class="text-gray-900 d-block">{{ row.category_sub_id }}</span>
              </td> -->
            <td>
              <span class="text-gray-900 fw-bolder text-hover-primary fs-6">
                {{ row.resi_number }}<br />
                ({{ row.book_date | date : 'H:mm' : 'GMT' }})
              </span>
            </td>
            <td>
              @for (value of row.waybills; track value) {
              <span class="text-gray-900 d-block">
                <ul>
                  <li>
                    {{ value?.name }} <br />
                    {{ value?.address }}
                  </li>
                </ul>
              </span>
              }
            </td>
            <td>
              @for (value of row.destinations; track value) {
              <span class="text-gray-900 d-block">
                <ul>
                  <li>
                    {{ value?.name }} <br />
                    {{ value?.address }}
                  </li>
                </ul>
              </span>
              }
            </td>
            <td>
              <span class="text-gray-900 d-block">
                {{ row.tariff | currency : 'Rp ' : true : '1.0-2' }}
              </span>
            </td>
            <td>
              <span class="text-gray-900 d-block">
                {{ row.status }}
              </span>
            </td>
            <td>
              <span class="text-gray-900 d-block">
                {{ row.total_passenger | number }}
              </span>
            </td>
            <td>
              <span class="text-gray-900 d-block">
                {{ row.position }}
              </span>
            </td>
            <td>
              <span class="text-gray-900 d-block">
                {{ row.description }}
              </span>
            </td>
          </ng-template>
        </ngx-table>
        <!-- end::Table -->
      </div>
      <!-- end::Table container -->

      <div class="mt-7">
        <span><b>Total Tariff</b>: {{ totalTariff | currency : 'Rp ' : true : '1.0-2' }}</span
        ><br />
        <span><b>Total Passenger</b>: {{ totalPassenger | number }}</span>
      </div>
    </div>
  </div>
  } @if (type ==='Package') {
  <div class="m-0">
    <div class="card-header border-0">
      <div class="card-toolbar">
        <div class="col">
          <!-- begin::Menu -->
          <div class="menu-item">
            <div class="menu-content px-0 mb-3">
              <h1 class="card-title text-center">
                <span class="card-label fw-bolder fs-2 mb-1">
                  @if (detail?.city_id === 1) { SURAT PENGANTAR PAKET MALANG } @else { SURAT PENGANTAR PAKET SURABAYA }
                </span>
              </h1>
            </div>
          </div>
          <!-- end::Menu -->
        </div>
      </div>
      <div class="card-toolbar">
        <div class="row">
          <!-- begin::Menu -->
          <div class="col-md-4">
            <div class="menu-content px-3">
              <span
                ><b>{{ detail?.employee?.name }} | {{ detail?.car?.car_number }}</b></span
              >
            </div>
          </div>
          <div class="col-md-4">
            <div class="menu-content px-3 text-center">
              <span><b>Send Date</b>: {{ detail?.send_date | date : 'yyyy/MM/dd H:mm:ss a' : 'GMT' }}</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="menu-content px-3 text-end">
              <h4>
                <b>{{ detail?.sp_package }}</b>
              </h4>
            </div>
          </div>
          <!-- end::Menu -->
        </div>
      </div>
    </div>
    <!-- end::Header -->
    <!-- begin::Body -->
    <div class="card-body py-3">
      <!-- begin::Table container -->
      <div class="table-responsive">
        <!-- begin::Table -->
        <ngx-table
          #table
          [configuration]="configuration"
          [data]="data"
          [columns]="columnsPackage"
          tableClass="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3"
        >
          <ng-template let-row let-index="index">
            <!-- <td>
              <span class="text-gray-900 d-block">{{ row.category_sub_id }}</span>
            </td> -->
            <td>
              <span class="text-gray-900 fw-bolder text-hover-primary fs-6">
                {{ row.resi_number }}
              </span>
            </td>
            <td>
              <span class="text-gray-900 d-block">
                {{ row.recipient?.name }}
              </span>
            </td>
            <td>
              <span class="text-gray-900 d-block">
                {{ row.recipient?.address }}
              </span>
            </td>
            <td>
              <span class="text-gray-900 d-block">
                {{ row.cost | currency : 'Rp ' : true : '1.0-2' }}
              </span>
            </td>
            <td>
              <span class="text-gray-900 d-block">
                {{ row.note }}
              </span>
            </td>
            <td>
              <span class="text-gray-900 d-block">
                {{ row.status }}
              </span>
            </td>
            <td>
              <span class="text-gray-900 d-block">
                {{ row.koli }}
              </span>
            </td>
            <td>
              <span class="text-gray-900 d-block">
                {{ row.description }}
              </span>
            </td>
          </ng-template>
        </ngx-table>
        <!-- end::Table -->
      </div>
      <!-- end::Table container -->

      <div class="mt-7">
        <span><b>Total Cost</b>: {{ totalCost | currency : 'Rp ' : true : '1.0-2' }}</span
        ><br />
        <span><b>Total Koli</b>: {{ totalKoli | number }}</span>
      </div>
    </div>
  </div>
  }
</div>
