:host ::ng-deep {
  ngx-table {
    table {
      display: table;
      font-size: 12px;

      tbody {
        tr {
          &:last-child {
            font-weight: bold;
          }
        }
      }
    }
  }
}
